<div class="cardBox" title="{{item.properties.name}}" id="{{item.objectTypeScriptName}}-{{item.object_id}}">
  <div ng-if="!viewSchema" class="cardBoxTitle">
    <a href="{{$root.cwApi.getSingleViewHash($root.cwApi.replaceSpecialCharacters(item.objectTypeScriptName),item.object_id)}}">{{item.name}}</a>
  </div>
  <div ng-if="viewSchema" ng-bind-html="cds" class="cardBoxTitle"></div>

  <div class="cardBoxDate">
    <span class="cardBoxNew" ng-if="new">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <span>New</span>
    </span>
    <span>{{date.toLocaleString()}}</span>
  </div>
  <div class="cardBoxDescription" ng-bind-html="html"></div>
  <div class="cardBoxProp" ng-repeat="p in selectedProperties">
    <span class="cardBoxPropHeader">{{p.name}} : </span>
    <span class="cardBoxPropValue" ng-bind-html="p.html"></span>
  </div>
</div>
