/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* GRID */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
i.fa {
  font-size: 16px;
}
