<div>
  <div ng-if="showDescription" class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-value row-cell-max-width">
      <div class="filter-wrapper propertieslist" ng-include src="'../../common/html/coffee/actionOnObjectPage_description.ng.html'"></div>
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('evolve_view')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <select
        ng-change="selectConfig()"
        ng-options="v as (v.name + ' (' + v.cwView + ')')  for v in objectpages | orderBy:'name'"
        ng-model="currentView"
      ></select>
    </div>
  </div>
  <div class="tabs">
    <div
      ng-repeat="(i, op) in ng.config[currentView.cwView] | orderBy:'order'"
      ng-class="{active: op.selected == true}"
      class="tab-link tab-{{op.Id}}"
      ng-click="selectOperation(i)"
      data-id="{{op.Id}}"
    >
      {{op.label}}
    </div>
    <div class="add-tab-link">
      <a class="btn-add-operation btn page-action no-text" title="{{$root.i18n('label_add_operation')}}" ng-click="addOperation()"
        ><i class="fa fa-plus" aria-hidden="true"></i
      ></a>
    </div>
  </div>
  <div class="tabContent" ng-if="op.selected" ng-repeat="(i, op) in ng.config[currentView.cwView]">
    <div class="remove-operation">
      <a class="btn-remove btn page-action no-text" data-id="{{op.Id}}" title="{{$root.i18n('label_remove_operation')}}" ng-click="removeOperation(i)"
        ><i class="fa fa-trash-o" aria-hidden="true"></i
      ></a>
    </div>
    <div class="bootstrap-iso rowFlex">
      <div class="row-cell row-cell-label">{{$root.i18n('label_name')}} :&nbsp;</div>
      <div class="row-cell row-cell-value"><input ng-model="op.label" /></div>
    </div>
    <div class="bootstrap-iso row">
      <div class="row-cell row-cell-label">{{$root.i18n('label_description')}} :</div>
    </div>
    <div class="row bootstrap-iso">
      <div class="row-cell row-cell-value row-cell-value-textarea"><textarea ng-model="op.description"></textarea></div>
    </div>
    <div class="bootstrap-iso rowFlex">
      <div class="row-cell row-cell-label">{{$root.i18n('label_order')}} :&nbsp;</div>
      <div class="row-cell row-cell-value"><input type="number" ng-model="op.order" ng-change="reOrderCurrentConfig()" /></div>
    </div>
    <div class="bootstrap-iso row">
      <div class="row-cell row-cell-label">{{$root.i18n('label_filter')}} :</div>
    </div>
    <div class="row">
      <div class="row-cell row-cell-value row-cell-max-width">
        <table class="cell-content-wrapper filter-wrapper">
          <tr class="filter-row filter-header bootstrap-iso">
            <th class="filter-cell filter-content header-cell header-property">{{$root.i18n('label_pt_filter_column_property')}}</th>
            <th class="filter-cell filter-operator header-cell header-operator">{{$root.i18n('label_pt_filter_column_operator')}}</th>
            <th class="filter-cell filter-value header-cell header-value">{{$root.i18n('label_pt_filter_column_value')}}</th>
          </tr>
          <tr class="filter-row filter-content filter-cell" ng-repeat="f in currentConfig[i].filters">
            <td class="filter-property-scriptname filter-cell">
              <select ng-model="f.id" ng-change="processFilter(f)">
                <optgroup label="{{$root.i18n('properties')}}">
                  <option ng-selected="'prop_' + x.scriptName === f.id" value="prop_{{x.scriptName}}" ng-repeat="x in properties">{{x.name}} </option>
                </optgroup>
                <optgroup label="{{$root.i18n('associations')}}">
                  <option ng-selected="'asso_' + n.nodeID === f.id" value="asso_{{n.nodeID}}" ng-repeat="n in rootNode.AssociationsTargetObjectTypes"
                    >{{n.displayNodeName}}
                  </option>
                </optgroup>
              </select>
            </td>

            <td ng-if="f.id" class="filter-operator filter-cell">
              <select ng-model="f.Operator" ng-options="x for x in FilterOperators"></select>
            </td>
            <td ng-if="f.id" class="filter-value filter-cell">
              <input class="largeCell" ng-model="f.Value" ng-if="getPropertyDataType(objectType, f.scriptname)==='text'" />
              <input ng-model="f.Value" type="checkbox" ng-if="getPropertyDataType(objectType, f.scriptname)==='checkbox'" />
              <input ng-model="f.Value" type="date" ng-if="getPropertyDataType(objectType, f.scriptname)==='date'" />
              <input ng-model="f.Value" type="number" ng-if="getPropertyDataType(objectType, f.scriptname)==='number'" />
              <select
                ng-model="f.Value"
                ng-if="getPropertyDataType(objectType, f.scriptname)==='lookup' && f.Operator != 'In'"
                ng-options="x.id as x.name for x in objectType.properties[f.scriptname].lookups"
              ></select>
              <select
                style="height: initial;"
                multiple
                size="{{objectType.properties[f.scriptname].lookups.length}}"
                ng-model="f.Value"
                ng-if="getPropertyDataType(objectType, f.scriptname)==='lookup' && f.Operator == 'In'"
                ng-options="x.id as x.name for x in objectType.properties[f.scriptname].lookups"
              ></select>
            </td>
            <td class="filter-cell">
              <a class="btn page-action no-text" ng-click="currentConfig[i].filters.splice($index,1)"
                ><i class="fa fa-times" aria-hidden="true"></i
              ></a>
            </td>
          </tr>
          <tr>
            <td class="add-filter-button bootstrap-iso">
              <a class="btn-add-filter btn page-action" ng-click="addFilter(i)">{{$root.i18n('label_pt_filter_add_new')}}</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="rowFlex bootstrap-iso">
        <div class="row-cell row-cell-label">{{$root.i18n('hideElement_action_type')}} :&nbsp;</div>
        <div class="row-cell row-cell-value" style="display: inline-flex;">
          <select ng-options="t as t for t in actionType" ng-model="op.actionType" ng-change="clearOperationnParam(op)"></select>
          <input ng-if="op.actionType === 'highlight'" type="color" ng-model="op.highlightColor" />
        </div>
      </div>
      <div ng-if="op.actionType !== 'displaymsg'">
        <div class="rowFlex bootstrap-iso">
          <div class="row-cell row-cell-label">{{$root.i18n('hideElement_type')}} :&nbsp;</div>
          <div class="row-cell row-cell-value">
            <select ng-options="t as t for t in typeOftarget" ng-model="op.type"></select>
          </div>
        </div>
        <div class="row bootstrap-iso">
          <div ng-if="op.type === 'tabs'" class="row-cell row-cell-value row-cell-max-width">
            <div class="cell-content-wrapper filter-wrapper propertieslist">
              <div class="choiceBox" ng-repeat="t in currentSchema.Tab.Tabs | orderBy:'name'">
                <a
                  class="btn-add-filter btn page-action"
                  ng-class="op.tabs.indexOf(t.Id) !== -1? ['selected'] : []"
                  ng-click="toggleArray(op.tabs,t.Id)"
                  >{{(t.Name + ' (' + t.Id + ')')}}</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row bootstrap-iso">
          <div ng-if="op.type === 'views'" class="row-cell row-cell-value row-cell-max-width">
            <div class="cell-content-wrapper filter-wrapper propertieslist">
              <div class="choiceBox" ng-repeat="v in currentRedirectViews | orderBy:'name'">
                <a
                  class="btn-add-filter btn page-action"
                  ng-class="op.views.indexOf(v.cwView) !== -1? ['selected'] : []"
                  ng-click="toggleArray(op.views,v.cwView)"
                  >{{(v.name + ' (' + v.cwView + ')')}}</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row bootstrap-iso">
          <div ng-if="op.type === 'propertygroups'" class="row-cell row-cell-value row-cell-max-width">
            <div class="cell-content-wrapper filter-wrapper propertieslist">
              <div class="choiceBox" ng-repeat="p in rootNode.PropertiesGroups | orderBy:'name'">
                <a
                  class="btn-add-filter btn page-action"
                  ng-class="op.propertygroups.indexOf(p.id) !== -1? ['selected'] : []"
                  ng-click="toggleArray(op.propertygroups,p.id)"
                  >{{(p.name + ' (' + p.id + ')')}}</a
                >
              </div>
            </div>
          </div>
        </div>
        <div ng-if="op.type === 'cssClass'" class="row bootstrap-iso">
          <div class="row-cell row-cell-label">{{$root.i18n('hideElement_css_class')}} :</div>
          <div class="row-cell row-cell-value largeCell">
            <input class="largeCell" type="text" ng-model="op.class" />
          </div>
        </div>
        <div ng-if="op.type === 'htmlId'" class="row bootstrap-iso">
          <div class="row-cell row-cell-label">{{$root.i18n('hideElement_html_id')}} :</div>
          <div class="row-cell row-cell-value largeCell">
            <input class="largeCell" type="text" ng-model="op.htmlId" />
          </div>
        </div>
        <div ng-if="op.type === 'jQuerySelector'" class="row bootstrap-iso">
          <div class="row-cell row-cell-label">{{$root.i18n('hideElement_jQuerySelector')}} :</div>
          <div class="row-cell row-cell-value">
            <input class="largeCell" type="text" ng-model="op.jQuerySelector" />
          </div>
        </div>
      </div>
      <div ng-if="op.actionType === 'displaymsg'">
        <div ng-if="currentSchema.Tab.Tabs.length > 0" class="row-cell row-cell-value row-cell-max-width">
          <div class="cell-content-wrapper filter-wrapper propertieslist bootstrap-iso">
            <div class="choiceBox" ng-repeat="t in currentSchema.Tab.Tabs | orderBy:'name'">
              <a
                class="btn-add-filter btn page-action"
                ng-class="op.tabs.indexOf(t.Id) !== -1? ['selected'] : []"
                ng-click="toggleArray(op.tabs,t.Id)"
                >{{(t.Name + ' (' + t.Id + ')')}}</a
              >
            </div>
          </div>
        </div>
        <div class="bootstrap-iso rowFlex">
          <div class="row-cell row-cell-label">{{$root.i18n('image_url')}} :&nbsp;</div>
          <div class="row-cell row-cell-value"><input class="largeCell" ng-model="op.imageUrl" /></div>
          <div class="row-cell row-cell-label">{{$root.i18n('width')}} :&nbsp;</div>
          <div class="row-cell row-cell-value"><input ng-model="op.width" /></div>
          <div class="row-cell row-cell-label">{{$root.i18n('height')}} :&nbsp;</div>
          <div class="row-cell row-cell-value"><input ng-model="op.height" /></div>
        </div>
        <div class="bootstrap-iso rowFlex">
          <div class="row-cell row-cell-label">{{$root.i18n('fontawesome_icon')}} :&nbsp;</div>
          <div class="row-cell row-cell-value" style="display: flex; overflow: visible;">
            <select
              id="{{'action_on_page_' + i}}"
              ng-include
              src="'../../common/html/coffee/fa.ng.html'"
              data-width="150px"
              data-live-search="true"
              class="fa"
              ng-init="bootstrapFilter('action_on_page_' + i)"
              ng-model="op.fontAwesome.icon"
            ></select>
            <input type="color" ng-model="op.fontAwesome.color" />
          </div>
        </div>
        <div class="bootstrap-iso rowFlex">
          <div class="row-cell row-cell-label">{{$root.i18n('html_text')}} :&nbsp;</div>
          <div class="row-cell row-cell-value row-cell-value-textarea"><textarea ng-model="op.htmlMessage"></textarea></div>
        </div>
        <div class="bootstrap-iso row">
          <div class="row-cell row-cell-label">{{$root.i18n('result_preview')}} :&nbsp;</div>
          <div class="cw-visible CwPropertiesLayoutHelpText">
            <span>
              <i ng-style="{'color' : op.fontAwesome.color}" ng-if="op.fontAwesome.icon" ng-class="op.fontAwesome.icon" aria-hidden="true"></i>
              <img ng-if="op.imageUrl" src="{{op.imageUrl}}" height="{{op.height}}" width="{{op.width}}" aria-hidden="true" />
              <div ng-bind-html="op.htmlMessage"></div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include src="'../../common/html/coffee/configurationJson.ng.html'"></div>
</div>
