<span ng-if="lang=='en'">
  This feature allow you to do some action (display message, hide or highlight some elements) on an objectPage<br />
  The action are conditionnal with a filter on the properies and association.<br />
</span>
<span ng-if="lang=='it'">
  Questa funzione ti consente di eseguire alcune azioni (visualizza messaggio, nascondi o evidenzia alcuni elementi) su un oggettoPage <br />
  Le azioni sono condizionali con un filtro su proprietà e associazione. <br />
</span>
<span ng-if="lang=='fr'">
  Cette fonctionnalité vous permet de réaliser certaines actions (afficher un message, masquer ou mettre en surbrillance certains éléments) sur une objetPage <br />
  Les actions sont conditionnelles avec un filtre sur les propriétés et/ou l'association. <br />
</span>
