<div>
  <div ng-if="showDescription" class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-value row-cell-max-width">
      <div class="filter-wrapper propertieslist" ng-include src="'../../common/html/coffee/cdsEnhanced_description.ng.html'"></div>
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('cds_display_popout_by_default')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="ng.config.displayPopoutByDefault" type="checkbox" />
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('cds_default_icon')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <div class="bootstrap-iso" style="display: flex; overflow: visible;">
        <select
          ng-include
          src="'../../common/html/coffee/fa.ng.html'"
          data-width="150px"
          data-live-search="true"
          class="fa"
          id="{{filterId}}"
          ng-init="bootstrapFilter(filterId)"
          ng-model="ng.config.defaultIcon"
        ></select>
      </div>
    </div>
  </div>
  <div ng-include src="'../../common/html/coffee/configurationJson.ng.html'"></div>
</div>
