<span ng-if="lang=='en'">
  Allow you to add an icon inside the custom display string <br />
  When clicking on this icon, it will open the default popout of the object <br />
</span>
<span ng-if="lang=='it'">
  Consentire di aggiungere un'icona all'interno della stringa di visualizzazione personalizzata <br />
  Facendo clic su questa icona, si aprirà il popout predefinito dell'oggetto <br />
</span>
<span ng-if="lang=='fr'">
  Vous permet d'ajouter une icône dans la custom display string <br />
  En cliquant sur cette icône, le popout par défaut de l’objet s’ouvrira <br />
</span>
