<div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('cds_display_popout_by_default')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="config.displayPopoutByDefault" type="checkbox" />
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('cds_default_icon')}} :&nbsp;</div>
    <div class="row-cell row-cell-value ">
      <div class="bootstrap-iso" style="display: flex; overflow: visible">
        <select ng-include src="'../../common/html/coffee/fa.html'" data-width="150px" data-live-search="true" class="fa" id="{{filterId}}" ng-init="bootstrapFilter(filterId)" ng-model="config.defaultIcon" />
      </div>
    </div>
  </div>
</div>
