<span ng-if="lang=='en'">
  This feature allow to add some check and automatically fill values when editing an object : <br />
  - Check number of associations with a minimum and/or maximum<br />
  - Automatically filled value depending of other properties and associations<br />
</span>
<span ng-if="lang=='it'">
  Questa funzione consente di aggiungere un controllo e riempire automaticamente i valori durante la modifica di un oggetto: <br />
  - Controlla il numero di associazioni con un minimo e/o massimo <br />
  - Valore riempito automaticamente in base ad altre proprietà e associazioni <br />
</span>
<span ng-if="lang=='fr'">
  Cette fonctionnalité permet d’ajouter des vérifications et de remplir automatiquement les valeurs lors de la modification d’un objet: <br />
  - Vérifier le nombre d'associations avec un minimum et/ou un maximum <br />
  - Valeur automatiquement renseignée en fonction d'autres propriétés et associations <br
/></span>
