<div>
  <div class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('evolve_view')}} :</div>
    <div class="row-cell row-cell-value">
      <select ng-change="updateCurrentView(currentView)" ng-options="v as (v.name + ' (' + v.cwView + ')')  for v in objectpages | orderBy:'name'" ng-model="currentView"></select>
    </div>
  </div>
  <div class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('evolve_view_for_unicity_checking')}} :</div>
    <div class="row-cell row-cell-value">
      <select ng-options="v.cwView as (v.name + ' (' + v.cwView + ')')  for v in indexpages | orderBy:'name'" ng-model="config[currentView.cwView].unicityView"></select>
    </div>
  </div>
  <div class="cwPropertiesTableContainer">
    <div class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader">
      {{$root.i18n('properties')}}
    </div>
    <table class="cwPropertiesTable">
      <tbody>
        <tr>
          <th>{{$root.i18n('name')}}</th>
          <th class="tableCheckbox">{{$root.i18n('unique')}}</th>
          <th>{{$root.i18n('Automatic Value')}}</th>
        </tr>
        <tr ng-repeat="p in properties">
          <th class="cw-edit-property-value">{{p.name}}({{p.scriptName}})</th>
          <td class="cw-edit-property-value tableCheckbox"><input ng-model="config[currentView.cwView][p.scriptName].unique" type="checkbox" /></td>
          <td class="cw-edit-property-value"><input class="cw-edit-attr" ng-model="config[currentView.cwView][p.scriptName].automaticValue" type="text" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cwPropertiesTableContainer">
    <div class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader">
      {{$root.i18n('association')}}
    </div>
    <table class="cwPropertiesTable">
      <tbody>
        <tr>
          <th>{{$root.i18n('nodeName')}}</th>
          <th>{{$root.i18n('min')}}</th>
          <th>{{$root.i18n('max')}}</th>
        </tr>
        <tr ng-repeat="a in associations">
          <th class="cw-edit-property-value">{{a.displayNodeName}} ({{a.nodeID}})</th>
          <td class="cw-edit-property-value tableCheckbox"><input ng-model="config[currentView.cwView][a.nodeID].min" type="number" /></td>
          <td class="cw-edit-property-value tableCheckbox"><input class="cw-edit-attr" ng-model="config[currentView.cwView][a.nodeID].max" type="number" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
