<div ng-click="ng.config.extended = !ng.config.extended" class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader">
  <i ng-if="ng.config.extended === true" class="fa fa-angle-up" aria-hidden="true"></i>
  <i ng-if="!ng.config.extended" class="fa fa-angle-down" aria-hidden="true"></i>
  <span class="homePage_display_title">
    {{$root.i18n('displayjsonconfig')}}
  </span>
</div>
<textarea json-text style="width: 100%; height: 400px;" ng-model="ng.config" ng-if="ng.config.extended === true"></textarea>
