<span ng-if="lang=='en'">
  This feature allow to create a backup of a scope of objects<br />
  By default the backup object will come is default filter that can be configure here<br />
</span>
<span ng-if="lang=='it'">
  This feature allow to create a backup of a scope of objects<br />
  By default the backup object will come is default filter that can be configure here<br />
</span>
<span ng-if="lang=='fr'">
  This feature allow to create a backup of a scope of objects<br />
  By default the backup object will come is default filter that can be configure here<br />
</span>
