<div class="remove-operation">
  <a class="btn-remove btn page-action no-text" data-id="{{input.Id}}" title="{{$root.i18n('label_remove')}}" ng-click="removeNextStep(step,inStep)"
    ><i class="fa fa-trash-o" aria-hidden="true"></i
  ></a>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('label')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input ng-change="createNetwork(sce)" ng-model="nStep.label" /></div>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('order')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input ng-change="reOrderNextStep(step)" type="number" ng-model="nStep.order" /></div>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('stepName')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-change="createNetwork(sce)" ng-model="nStep.stepName">
      <option value="{{step.label}}" ng-selected="nStep.stepName === step.label" ng-repeat="step in sce.steps">{{step.label}}</option>
    </select>
  </div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('shareWorkflow')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input type="checkbox" ng-model="nStep.shareWorkflow" /></div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('createObject')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input type="checkbox" ng-model="nStep.createObject" /></div>
</div>

<div class="bootstrap-iso row">
  <div class="row-cell row-cell-label">{{$root.i18n('label_filter')}} :</div>
</div>
<div class="row">
  <div class="row-cell row-cell-value row-cell-max-width">
    <table class="cell-content-wrapper filter-wrapper">
      <tr class="filter-row filter-header bootstrap-iso">
        <th class="filter-cell filter-content header-cell header-property">{{$root.i18n('label_pt_filter_column_property')}}</th>
        <th class="filter-cell filter-operator header-cell header-operator">{{$root.i18n('label_pt_filter_column_operator')}}</th>
        <th class="filter-cell filter-value header-cell header-value">{{$root.i18n('label_pt_filter_column_value')}}</th>
      </tr>
      <tr class="filter-row filter-content filter-cell" ng-repeat="f in nStep.filters">
        <td class="filter-property-scriptname filter-cell">
          <select ng-model="f.scriptname">
            <option ng-selected="x.scriptName === f.scriptname" value="{{x.scriptName}}" ng-repeat="x in getWIObjectType().properties">
              {{x.name}}
            </option>
          </select>
        </td>

        <td ng-if="f.scriptname" class="filter-operator filter-cell">
          <select ng-model="f.Operator" ng-options="x for x in FilterOperators"></select>
        </td>
        <td ng-if="f.scriptname" class="filter-value filter-cell">
          <input class="largeCell" ng-model="f.Value" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='text'" />
          <input ng-model="f.Value" type="checkbox" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='checkbox'" />
          <input ng-model="f.Value" type="date" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='date'" />
          <input ng-model="f.Value" type="number" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='number'" />
          <select
            ng-model="f.Value"
            ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='lookup' && f.Operator != 'In'"
            ng-options="x.id as x.name for x in getWIObjectType().properties[f.scriptname].lookups"
          ></select>
          <select
            style="height: initial"
            multiple
            size="{{getWIObjectType().properties[f.scriptname].lookups.length}}"
            ng-model="f.Value"
            ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='lookup' && f.Operator == 'In'"
            ng-options="x.id as x.name for x in getWIObjectType().properties[f.scriptname].lookups"
          ></select>
        </td>
        <td class="filter-cell">
          <a class="btn page-action no-text" ng-click="nStep.filters.splice($index,1)"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>
      </tr>
      <tr>
        <td class="add-filter-button bootstrap-iso">
          <a class="btn-add-filter btn page-action" ng-click="addFilter(nStep,i)">{{$root.i18n('label_pt_filter_add_new')}}</a>
        </td>
      </tr>
    </table>
  </div>
</div>
