<div class="remove-operation">
  <a
    class="btn-remove btn page-action no-text"
    data-id="{{input.Id}}"
    title="{{$root.i18n('label_remove_input')}}"
    ng-click="removeFormInput(step,iInput)"
    ><i class="fa fa-trash-o" aria-hidden="true"></i
  ></a>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('label')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input class="largeCell" ng-model="input.label" /></div>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('order')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input class="largeCell" ng-change="reOrderFormInput(step)" type="number" ng-model="input.order" /></div>
</div>
<div class="rowFlex bootstrap-iso">
  <div class="row-cell row-cell-label">{{$root.i18n('type')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-model="input.type" ng-options="type as type for type in formInputType"></select>
  </div>
</div>

<div ng-if="input.type != 'message'" class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('readonly')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input type="checkbox" ng-model="input.readOnly" /></div>
</div>
<div ng-if="input.type != 'message'" class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('mandatory')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input type="checkbox" ng-model="input.mandatory" /></div>
</div>
<div ng-if="input.type === 'property'" class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('scriptname')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-change="input.label = cwApi.mm.getProperty(ng.selectedObjectTypeScriptname,input.scriptname).name" ng-model="input.scriptname">
      <option ng-selected="x.scriptName === input.scriptname" value="{{x.scriptName}}" ng-repeat="x in getSortPropFromOT(getWIObjectType())">
        {{x.name}} ({{x.scriptName}})
      </option>
    </select>
  </div>
</div>
<div
  ng-if="input.type === 'property' && cwApi.mm.getProperty(ng.selectedObjectTypeScriptname,input.scriptname).type === 'Lookup'"
  class="row bootstrap-iso"
>
  <div class="row-cell row-cell-label labelTitle">{{$root.i18n('disable_lookup')}} :</div>
</div>
<div
  ng-if="input.type === 'property' && cwApi.mm.getProperty(ng.selectedObjectTypeScriptname,input.scriptname).type === 'Lookup'"
  class="rowFlex bootstrap-iso"
>
  <div class="row-cell row-cell-value row-cell-max-width">
    <div class="cell-content-wrapper filter-wrapper propertieslist">
      <div class="choiceBox" ng-repeat="p in cwApi.mm.getProperty(ng.selectedObjectTypeScriptname,input.scriptname).lookups | orderBy:'name'">
        <a
          class="btn-add-filter btn page-action"
          ng-class="input.inactiveLookups.hasOwnProperty(p.id) ? ['selected'] : []"
          ng-click="updateInactiveLookups(input,p.id)"
        >
          {{p.name}} ({{p.abbr}}) ({{p.id}})
        </a>
      </div>
    </div>
  </div>
</div>
<div ng-if="input.type === 'objectType'" class="rowFlex bootstrap-iso">
  <div class="row-cell row-cell-label">{{$root.i18n('objectType')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-model="input.objectType">
      <option ng-repeat="o in OTs  | orderBy:'name'" ng-selected="input.objectType === o.scriptName" value="{{o.scriptName}}">
        {{o.name}} ({{o.scriptName}})
      </option>
    </select>
  </div>
</div>
<div ng-if="input.type === 'association'" class="rowFlex bootstrap-iso">
  <div class="row-cell row-cell-label">{{$root.i18n('associationType')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-model="input.association">
      <option
        ng-repeat="a in cwApi.mm.getObjectType(ng.selectedObjectTypeScriptname).AssociationTypes | orderBy:'DisplayName'"
        ng-selected="input.association === a.ScriptName"
        value="{{a.ScriptName}}"
      >
        {{a.DisplayName}} ({{a.TargetObjectTypeScriptName}})
      </option>
    </select>
  </div>
</div>
<div ng-if="input.type === 'evolveViewItemList'" class="rowFlex bootstrap-iso">
  <div class="row-cell row-cell-label">{{$root.i18n('evolveview')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-model="input.viewName" ng-options="v.cwView as (v.name + ' (' + v.cwView + ')')  for v in indexpages | orderBy:'name'"></select>
  </div>
</div>

<div ng-if="input.type === 'evolveViewItemList' || input.type === 'objectType'" class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('fakeScriptname')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input ng-model="input.scriptname" /></div>
</div>
<div ng-if="input.type != 'message'" class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('value')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input class="largeCell" ng-model="input.value" /></div>
</div>
<div ng-if="input.type === 'message'" class="bootstrap-iso row">
  <div class="row-cell row-cell-label">{{$root.i18n('message')}} :</div>
</div>
<div ng-if="input.type === 'message'" class="row bootstrap-iso">
  <div class="row-cell row-cell-value row-cell-value-textarea"><textarea ng-model="input.message"></textarea></div>
</div>
<div class="bootstrap-iso row">
  <div class="row-cell row-cell-label">{{$root.i18n('label_filter')}} :</div>
</div>
<div class="row">
  <div class="row-cell row-cell-value row-cell-max-width">
    <table class="cell-content-wrapper filter-wrapper">
      <tr class="filter-row filter-header bootstrap-iso">
        <th class="filter-cell filter-content header-cell header-property">{{$root.i18n('label_pt_filter_column_property')}}</th>
        <th class="filter-cell filter-operator header-cell header-operator">{{$root.i18n('label_pt_filter_column_operator')}}</th>
        <th class="filter-cell filter-value header-cell header-value">{{$root.i18n('label_pt_filter_column_value')}}</th>
      </tr>
      <tr class="filter-row filter-content filter-cell" ng-repeat="f in input.filters">
        <td class="filter-property-scriptname filter-cell">
          <select ng-model="f.scriptname">
            <option ng-selected="x.scriptName === f.scriptname" value="{{x.scriptName}}" ng-repeat="x in getSortPropFromOT(getWIObjectType())">
              {{x.name}}
            </option>
          </select>
        </td>

        <td ng-if="f.scriptname" class="filter-operator filter-cell">
          <select ng-model="f.Operator" ng-options="x for x in FilterOperators"></select>
        </td>
        <td ng-if="f.scriptname" class="filter-value filter-cell">
          <input class="largeCell" ng-model="f.Value" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname) ==='text'" />
          <input ng-model="f.Value" type="checkbox" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname) ==='checkbox'" />
          <input ng-model="f.Value" type="date" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname) ==='date'" />
          <input ng-model="f.Value" type="number" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname) ==='number'" />
          <select
            ng-model="f.Value"
            ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='lookup' && f.Operator != 'In'"
            ng-options="x.id as x.name for x in getWIObjectType().properties[f.scriptname].lookups"
          ></select>
          <select
            style="height: initial"
            multiple
            size="{{getWIObjectType().properties[f.scriptname].lookups.length}}"
            ng-model="f.Value"
            ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='lookup' && f.Operator == 'In'"
            ng-options="x.id as x.name for x in getWIObjectType().properties[f.scriptname].lookups"
          ></select>
        </td>
        <td class="filter-cell">
          <a class="btn page-action no-text" ng-click="input.filters.splice($index,1)"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>
      </tr>
      <tr>
        <td class="add-filter-button bootstrap-iso">
          <a class="btn-add-filter btn page-action" ng-click="addFilter(input,i)">{{$root.i18n('label_pt_filter_add_new')}}</a>
        </td>
      </tr>
    </table>
  </div>

  <div ng-include src="'../../common/html/coffee/actionOnObjectPage_carrousel.ng.html'" ng-if="op.actionType === 'carrousel'"></div>
</div>
