<div class="remove-operation">
  <a
    class="btn-remove btn page-action no-text"
    data-id="{{stepSetting.Id}}"
    title="{{$root.i18n('label_remove')}}"
    ng-click="removeStepsSetting(step,iStepSetting)"
    ><i class="fa fa-trash-o" aria-hidden="true"></i
  ></a>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('label')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input ng-model="stepSetting.label" /></div>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('order')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input ng-change="reOrderStepSetting(step)" type="number" ng-model="stepSetting.order" /></div>
</div>

<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('stepName')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-model="stepSetting.stepName">
      <option value="{{step.label}}" ng-selected="stepSetting.stepName === step.label" ng-repeat="step in sce.steps">{{step.label}}</option>
    </select>
  </div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('readonly')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input type="checkbox" ng-model="stepSetting.readOnly" /></div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('mandatory')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input type="checkbox" ng-model="stepSetting.mandatory" /></div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">Cw User :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <input type="checkbox" ng-model="stepSetting.cwUser" /></div>
  </div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('mapped_to_the_creator')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <input type="checkbox" ng-model="stepSetting.creator" /></div>
  </div>
</div>
<div ng-if="!stepSetting.creator && !stepSetting.cwUser" class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('cwrole')}} :&nbsp;</div>
  <div class="row-cell row-cell-value">
    <select ng-model="stepSetting.cwRole">
      <option value=""></option>
      <option value="{{k}}" ng-selected="stepSetting.cwRole === k" ng-repeat="(k,v) in cwApi.cwConfigs.RoleNameById">{{v}}</option>
    </select>
  </div>
</div>

<div class="bootstrap-iso row">
  <div class="row-cell row-cell-label">{{$root.i18n('label_filter')}} :</div>
</div>
<div class="row">
  <div class="row-cell row-cell-value row-cell-max-width">
    <table class="cell-content-wrapper filter-wrapper">
      <tr class="filter-row filter-header bootstrap-iso">
        <th class="filter-cell filter-content header-cell header-property">{{$root.i18n('label_pt_filter_column_property')}}</th>
        <th class="filter-cell filter-operator header-cell header-operator">{{$root.i18n('label_pt_filter_column_operator')}}</th>
        <th class="filter-cell filter-value header-cell header-value">{{$root.i18n('label_pt_filter_column_value')}}</th>
      </tr>
      <tr class="filter-row filter-content filter-cell" ng-repeat="f in stepSetting.filters">
        <td class="filter-property-scriptname filter-cell">
          <select ng-model="f.scriptname">
            <option ng-selected="x.scriptName === f.scriptname" value="{{x.scriptName}}" ng-repeat="x in getSortPropFromOT(getWIObjectType()) | orderBy:'name'">
              {{x.name}}
            </option>
          </select>
        </td>

        <td ng-if="f.scriptname" class="filter-operator filter-cell">
          <select ng-model="f.Operator" ng-options="x for x in FilterOperators"></select>
        </td>
        <td ng-if="f.scriptname" class="filter-value filter-cell">
          <input class="largeCell" ng-model="f.Value" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='text'" />
          <input ng-model="f.Value" type="checkbox" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='checkbox'" />
          <input ng-model="f.Value" type="date" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='date'" />
          <input ng-model="f.Value" type="number" ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='number'" />
          <select
            ng-model="f.Value"
            ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='lookup' && f.Operator != 'In'"
            ng-options="x.id as x.name for x in getWIObjectType().properties[f.scriptname].lookups"
          ></select>
          <select
            style="height: initial"
            multiple
            size="{{getWIObjectType().properties[f.scriptname].lookups.length}}"
            ng-model="f.Value"
            ng-if="getPropertyDataType(getWIObjectType(), f.scriptname)==='lookup' && f.Operator == 'In'"
            ng-options="x.id as x.name for x in getWIObjectType().properties[f.scriptname].lookups"
          ></select>
        </td>
        <td class="filter-cell">
          <a class="btn page-action no-text" ng-click="stepSetting.filters.splice($index,1)"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>
      </tr>
      <tr>
        <td class="add-filter-button bootstrap-iso">
          <a class="btn-add-filter btn page-action" ng-click="addFilter(stepSetting,i)">{{$root.i18n('label_pt_filter_add_new')}}</a>
        </td>
      </tr>
    </table>
  </div>
</div>
