<div>
  <div ng-if="showDescription" class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-value row-cell-max-width ">
      <div class="filter-wrapper propertieslist" ng-include src="'../../common/html/coffee/diagram_description.ng.html'"></div>
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('deactivateDiagramDrillDown')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="config.deactivateDiagramDrillDown" type="checkbox" />
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('deactivateGPS')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="config.deactivateGPS" type="checkbox" />
    </div>
  </div>
</div>
