<span ng-if="lang=='en'">
  This feature allows you to change the behavior of HTML5 diagrams <br />
  - Deactivate drill-down and go directly to the object page <br />
  - Choose the highlighting color <br />
</span>
<span ng-if="lang=='it'">
  Questa funzione consente di modificare il comportamento dei diagrammi HTML5 <br />
  - Disattiva il drill-down e vai direttamente alla pagina dell'oggetto <br />
  - Scegli il colore di evidenziazione <br />
</span>
<span ng-if="lang=='fr'">
  Cette fonctionnalité vous permet de changer les comportements des diagrammes HTML5<br />
  - Déactiver le drill-down et aller directement sur la page objet <br />
  - Choisir la couleur du highlighting <br />
</span>
