<span ng-if="lang=='en'">
  This feature add a copy button inside objectPages, when clicking on it, it will duplicate the object and his associations and the properties of association.<br />
  The newly created object can also be automatically associated to the original object.<br />
  In order to see the duplicate button, an cwUser must be able to create the objectType. <br />
  The cwUser also need to be an approuver of the view or the view need to have no approuvers. <br />
</span>
<span ng-if="lang=='it'">
  Questa funzione aggiunge un pulsante di copia all'interno di objectPages, facendo clic su di esso, duplicherà l'oggetto e le sue associazioni e la proprietà dell'associazione. <br />
  L'oggetto appena creato può anche essere automaticamente associato all'oggetto originale. <br />
  Per vedere il pulsante duplicato, un cwUser deve essere in grado di creare objectType. <br />
  Il cwUser deve anche essere un approvatore della vista o la vista non deve avere approvatori. <br />
</span>
<span ng-if="lang=='fr'">
  Cette fonctionnalité ajoute un bouton de copie à l'intérieur des pages objets. En cliquant dessus, l'objet sera dupliqué, ainsi que ses associations et les propriétés d'associations. <br />
  L'objet nouvellement créé peut également être automatiquement associé à l'objet d'origine. <br />
  Pour voir le bouton dupliqué, un cwUser doit pouvoir créer l'objetType. <br />
  Le cwUser doit également être un approuver de la vue ou la vue doit ne pas avoir d'approbation. <br
/></span>
