<div class="remove-operation">
  <a class="btn-remove btn page-action no-text" data-id="{{col.Id}}" title="{{$root.i18n('label_remove_operation')}}" ng-click="removeColumn(icol)"
    ><i class="fa fa-trash-o" aria-hidden="true"></i
  ></a>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('name')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input ng-model="col.label" /></div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('order')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input type="number" ng-model="col.order" ng-change="reOrderColumns()" /></div>
</div>
<div class="bootstrap-iso rowFlex">
  <div class="row-cell row-cell-label">{{$root.i18n('width')}} :&nbsp;</div>
  <div class="row-cell row-cell-value"><input ng-model="col.width" /></div>
</div>
<div class="bootstrap-iso row">
  <div class="row-cell row-cell-label">{{$root.i18n('applyontotheserole')}} :</div>
</div>
<div class="rowFlex bootstrap-iso">
  <div class="row-cell row-cell-value row-cell-max-width">
    <div class="cell-content-wrapper filter-wrapper propertieslist">
      <div class="choiceBox" ng-repeat="(k,v) in cwApi.cwConfigs.RoleNameById" ng-init="col.roles = col.roles ? col.roles : {}">
        <a class="btn-add-filter btn page-action" ng-class="col.roles.hasOwnProperty(k) ? ['selected'] : []" ng-click="toggle(col.roles,k)">{{v}}</a>
      </div>
    </div>
  </div>
</div>
<div class="tabs">
  <div
    ng-repeat="(idisp, display) in col.displays | orderBy:'order'"
    ng-class="{active: display.selected == true}"
    class="tab-link tab-{{display.Id}}"
    ng-click="selectDisplay(col,idisp)"
    data-id="{{display.Id}}"
  >
    {{display.label}}
  </div>
  <div class="add-tab-link">
    <a class="btn-add-operation btn page-action no-text" title="{{$root.i18n('add_display')}}" ng-click="addDisplay(col)"
      ><i class="fa fa-plus" aria-hidden="true"></i
    ></a>
  </div>
</div>
<div class="tabContent" ng-if="display.selected" ng-repeat="(idisp, display) in col.displays ">
  <div class="remove-operation">
    <a
      class="btn-remove btn page-action no-text"
      data-id="{{display.Id}}"
      title="{{$root.i18n('label_remove_operation')}}"
      ng-click="removeDisplay(col,idisp)"
      ><i class="fa fa-trash-o" aria-hidden="true"></i
    ></a>
  </div>
  <div class="bootstrap-iso rowFlex">
    <div class="row-cell row-cell-label">{{$root.i18n('name')}} :&nbsp;</div>
    <div class="row-cell row-cell-value"><input ng-model="display.label" /></div>
  </div>
  <div class="bootstrap-iso row">
    <div class="row-cell row-cell-label">{{$root.i18n('description')}} :</div>
  </div>
  <div class="row bootstrap-iso">
    <div class="row-cell row-cell-value row-cell-value-textarea"><textarea ng-model="display.description"></textarea></div>
  </div>
  <div class="bootstrap-iso row">
    <div class="row-cell row-cell-label">{{$root.i18n('applyontotheserole')}} :</div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-value row-cell-max-width">
      <div class="cell-content-wrapper filter-wrapper propertieslist">
        <div class="choiceBox" ng-repeat="(k,v) in cwApi.cwConfigs.RoleNameById" ng-init="display.roles = display.roles ? display.roles : {}">
          <a class="btn-add-filter btn page-action" ng-class="display.roles.hasOwnProperty(k) ? ['selected'] : []" ng-click="toggle(display.roles,k)"
            >{{v}}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="bootstrap-iso rowFlex">
    <div class="row-cell row-cell-label">{{$root.i18n('order')}} :&nbsp;</div>
    <div class="row-cell row-cell-value"><input type="number" ng-model="display.order" ng-change="reOrderDisplays(col)" /></div>
  </div>
  <div class="bootstrap-iso rowFlex">
    <div class="row-cell row-cell-label">{{$root.i18n('width')}} :&nbsp;</div>
    <div class="row-cell row-cell-value"><input ng-model="display.width" /></div>
  </div>
  <div class="bootstrap-iso rowFlex">
    <div class="row-cell row-cell-label">{{$root.i18n('height')}} :&nbsp;</div>
    <div class="row-cell row-cell-value"><input ng-model="display.height" /></div>
  </div>
  <div class="bootstrap-iso rowFlex">
    <div class="row-cell row-cell-label">{{$root.i18n('extendable')}} :&nbsp;</div>
    <div class="row-cell row-cell-value"><input type="checkbox" ng-model="display.extendable" /></div>
  </div>
  <div ng-if="display.extendable" class="bootstrap-iso rowFlex">
    <div class="row-cell row-cell-label">{{$root.i18n('collapse_by_default')}} :&nbsp;</div>
    <div class="row-cell row-cell-value"><input type="checkbox" ng-model="display.collapseByDefault" /></div>
  </div>
  <div ng-if="display.extendable" class="bootstrap-iso rowFlex">
    <div class="row-cell row-cell-label">{{$root.i18n('right_text_expand_button')}} :&nbsp;</div>
    <div class="row-cell row-cell-value"><input type="checkbox" ng-model="display.rightExpandButton" /></div>
  </div>
  <div class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('type')}} :</div>
    <div class="row-cell row-cell-value">
      <select ng-model="display.type">
        <option value="favorite">{{$root.i18n('favorite')}}</option>
        <option value="quicklink">{{$root.i18n('quicklink')}}</option>
        <option value="evolve_view">{{$root.i18n('evolve_view')}}</option>
        <option value="object_description">{{$root.i18n('object_description')}}</option>
        <option value="last_modified_object">{{$root.i18n('last_modified_object')}}</option>
        <option value="carrousel">Carrousel</option>
        <option value="links_in_bloc">Links In Box</option>
      </select>
    </div>
  </div>
  <div ng-if="display.type === 'evolve_view'" ng-include src="'../../common/html/coffee/homePage_evolve_view.ng.html'"></div>
  <div ng-if="display.type === 'object_description'" ng-include src="'../../common/html/coffee/homePage_object_description.ng.html'"></div>
  <div ng-if="display.type === 'last_modified_object'" ng-include src="'../../common/html/coffee/homePage_last_modified_object.ng.html'"></div>
  <div ng-if="display.type === 'links_in_bloc'" ng-include src="'../../common/html/coffee/homePage_link_in_box.ng.html'"></div>
  <div ng-if="display.type === 'carrousel'" ng-include src="'../../common/html/coffee/homePage_carrousel.ng.html'"></div>
</div>
