<span ng-if="lang=='en'">
  This feature allow you to do customize your home Page by :<br />
  - Disabling the my menu feature<br />
  - Adding a list of the last modified objects <br />
  - Adding the description of Objects on the homePage<br />
</span>
<span ng-if="lang=='it'">
  Questa funzione ti consente di personalizzare la tua Home Page da: <br />
  - Disabilitare la funzione del mio menu <br />
  - Aggiunta di un elenco degli ultimi oggetti modificati <br />
  - Aggiunta della descrizione degli oggetti nella pagina iniziale <br />
</span>
<span ng-if="lang=='fr'">
  Cette fonctionnalité vous permet de personnaliser votre page d'accueil par: <br />
  - Désactivation de la fonctionnalité Mon menu <br />
  - Ajout d’une liste des derniers objets modifiés <br />
  - Ajout de la description des objets sur la page d'accueil <br />
</span>
