<div>
  <div ng-if="showDescription" class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-value row-cell-max-width ">
      <div class="filter-wrapper propertieslist" ng-include src="'../../common/html/coffee/homePage_description.html'"></div>
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_custom_remove_my_menu')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="config.removeMyMenu" type="checkbox" />
    </div>
  </div>
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_displaydescription')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="config.displayDescription" type="checkbox" />
    </div>
  </div>
  <div ng-if="config.displayDescription" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_displaydescriptionSelect')}} :</div>
    <div class="row-cell row-cell-value">
      <select ng-options="o.scriptName as o.name for o in OT" ng-model="config.descriptionObjectTypeScriptname" ng-change="getObjects(config.descriptionObjectTypeScriptname)"></select>
    </div>
    <div class="row-cell row-cell-value">
      <select ng-options="o.object_id as o.name for o in objDescription |  orderBy:'name'" ng-model="config.descriptionObjectID"></select>
    </div>
  </div>
  <div class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_custom_activate_last_modified_objects')}} :</div>
    <div class="row-cell row-cell-value">
      <input ng-model="config.displayLastMdifiedObject" type="checkbox" />
    </div>
  </div>
  <div ng-if="config.displayLastMdifiedObject" class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_last_modified_display_index_page')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="config.lastModifiedObjectIndexpage" type="checkbox" />
    </div>
  </div>
  <div ng-if="config.lastModifiedObjectIndexpage" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_last_modified_index_page_link')}} :</div>
    <div class="row-cell row-cell-value">
      <input class="largeCell" ng-model="config.lastModifiedObjectIndexpage_link" />
    </div>
  </div>
  <div ng-if="config.lastModifiedObjectIndexpage" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_last_modified_index_page_text')}} :</div>
    <div class="row-cell row-cell-value">
      <input class="largeCell" ng-model="config.lastModifiedObjectIndexpage_text" />
    </div>
  </div>
  <div ng-if="config.displayLastMdifiedObject" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_last_modified_objects_delay')}}</div>
    <div class="row-cell row-cell-value">
      <input class="mediumCell" ng-model="config.delay" />
    </div>
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_last_modified_objects_delay2')}}</div>
  </div>
  <div ng-if="config.displayLastMdifiedObject" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('homepage_custom_objectType_to_select')}} :</div>
    <div class="row-cell row-cell-value row-cell-max-width">
      <div class="cell-content-wrapper filter-wrapper propertieslist">
        <div class="add-filter-button" ng-repeat="(k,p) in objectTypes | orderBy:'name'">
          <a ng-if="!p.properties.hasOwnProperty('allowautomaticdeletion')" class="btn-add-filter btn page-action" ng-class="(config.objectTypeToSelect[p.scriptName] && config.objectTypeToSelect[p.scriptName].enable) ? ['selected'] : []" ng-click="toggleHM(config.objectTypeToSelect,p.scriptName)">{{p.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="config.displayLastMdifiedObject" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">Configure :</div>
    <div class="row-cell row-cell-value">
      <select ng-options="objectTypes[s].name for s in OTsSelected | orderBy:sortOT" ng-model="op.cdsSelected"></select>
    </div>
  </div>

  <div ng-if="op.cdsSelected" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">Custom Display String :</div>
    <div class="row-cell row-cell-value largeCell">
      <input class="largeCell" ng-model="config.objectTypeToSelect[op.cdsSelected].cds" />
    </div>
  </div>
  <div ng-if="op.cdsSelected" class="row bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('property')}} :</div>
    <div class="row-cell row-cell-value largeCell">
      <select ng-model="config.objectTypeToSelect[op.cdsSelected].timeProperty">
        <option ng-if="p.type==='Date'" value="{{sp}}" ng-repeat="(sp, p) in objectTypes[op.cdsSelected].properties">{{p.name}}</option>
      </select>
    </div>
  </div>
</div>
