<span ng-if="lang=='en'">
  This feature allow you to do change the behaviours of the page filter(search inside page)<br />
  - Allow to trigger on multiple word<br />
  - Not sensible to Uppercase and accent <br />
</span>
<span ng-if="lang=='it'">
  Questa funzione ti consente di modificare i comportamenti del filtro di pagina (cerca nella pagina) <br />
  - Consenti il trigger su più parole <br />
  - Non sensibile al maiuscolo e all'accento <br />
</span>
<span ng-if="lang=='fr'">
  Cette fonctionnalité vous permet de changer les comportements du filtre de page (recherche à l'intérieur de la page) <br />
  - Permet de se déclencher sur plusieurs mots <br />
  - Pas sensible aux majuscules et aux accents <br />
</span>
