<div class="row bootstrap-iso">
  <div class="row-cell row-cell-value">
    <select
      ng-model="ng.selectedObjectTypeScriptname"
      ng-options="o.scriptName as (o.name + ' (' + o.scriptName + ')')  for o in OTs | orderBy:'name'"
    >
    </select>
  </div>

  <table ng-if="ng.selectedObjectTypeScriptname" class="cwPropertiesTable">
    <tbody>
      <tr>
        <th class="verySmallCell"></th>
        <th class="largeMediumCell noWhiteSpace">{{$root.i18n('property_lookup_value')}}</th>
        <th class="largeMediumCell">{{$root.i18n('imageUrl')}}</th>
        <th class="largeMediumCell">{{$root.i18n('Icon')}}</th>
        <th class="tableCheckbox">{{$root.i18n('colorIcon')}}</th>
        <th class="tableCheckbox">{{$root.i18n('colorValue')}}</th>
      </tr>
      <tr ng-repeat-start="p in getProperties(['Lookup'])">
        <th ng-init="p.extended = false" ng-click="p.extended = !p.extended" class="verySmallCell">
          <span>
            <i ng-if="!p.extended" class="fa fa-chevron-down" aria-hidden="true"></i>
            <i ng-if="p.extended" class="fa fa-chevron-up" aria-hidden="true"></i>
          </span>
        </th>
        <th class="cw-edit-property-value">
          {{p.name}}
        </th>
      </tr>
      <tr ng-if="p.extended" ng-repeat="l in p.lookups">
        <td></td>
        <td class="noWhiteSpace">
          <span
            ng-style="{color: ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].valueColor}"
            data-image-url="{{ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].imageUrl}}"
          >
            <i
              ng-if="ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].icon"
              class="{{ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].icon}}"
              ng-style="{color: ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].iconColor}"
              aria-hidden="true"
            ></i>
            <img
              ng-if="ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].imageUrl"
              class="scaleImg"
              src="{{ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].imageUrl}}"
            />
            {{manageUndefined(l.name)}}
          </span>
        </td>
        <td class="cw-edit-property-value bootstrap-iso tableTextInput">
          <input ng-model="ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].imageUrl" type="text" />
        </td>
        <td class="cw-edit-property-value" style="overflow: visible;">
          <div class="bootstrap-iso" style="display: flex; overflow: visible;">
            <select
              ng-include
              src="'../../common/html/coffee/fa.ng.html'"
              data-width="100%"
              data-live-search="true"
              class="fa"
              id="{{p.scriptName}}{{l.id}}"
              ng-init="bootstrapFilter(p.scriptName+l.id,ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].icon)"
              ng-model="ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].icon"
            ></select>
          </div>
        </td>
        <td class="cw-edit-property-value bootstrap-iso tableCheckbox">
          <input ng-model="ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].iconColor" type="color" />
        </td>
        <td class="cw-edit-property-value bootstrap-iso tableCheckbox">
          <input ng-model="ng.config[ng.selectedObjectTypeScriptname][p.scriptName][l.id].valueColor" type="color" />
        </td>
      </tr>
      <tr ng-repeat-end>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
