<div class="row bootstrap-iso">
  <div class="row-cell row-cell-value row-cell-max-width">
    <table class="coffeeMakerTable">
      <tbody>
        <tr class="">
          <th class="largeMediumCell">{{$root.i18n('objectype')}}</th>
          <th class="largeMediumCell">{{$root.i18n('objectTypeUsedForMemoDefinitionMapping')}}</th>
        </tr>
        <tr class="" ng-repeat="o in OTs">
          <td class="">{{(o.name + ' (' + o.scriptName + ')')}}</td>
          <td class="">
            <select
              ng-options="v.cwView as (v.name + ' (' + v.cwView + ')')  for v in indexPages | orderBy:'name'"
              ng-model="ng.config.objectTypeUsedForMemoDefinitionMapping[o.scriptName]"
            >
              <option value=""></option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
