<div class="row bootstrap-iso">
  <div class="rowFlex bootstrap-iso">
    <div class="row-cell row-cell-label">{{$root.i18n('openLinkObjectInMemoWithPopout')}} :&nbsp;</div>
    <div class="row-cell row-cell-value">
      <input ng-model="ng.config.openLinkObjectInMemoWithPopout" type="checkbox" />
    </div>
  </div>
  <div class="row-cell row-cell-value row-cell-max-width">
    <table class="cell-content-wrapper filter-wrapper">
      <tbody>
        <tr class="filter-row filter-header bootstrap-iso">
          <th class="largeMediumCell">{{$root.i18n('objectype')}}</th>
          <th class="largeMediumCell">{{$root.i18n('objectTypeUsedForMemoDefinitionMapping')}}</th>
        </tr>
        <tr class="filter-row filter-header bootstrap-iso" ng-repeat="o in OTs">
          <td class="filter-property-scriptname">{{(o.name + ' (' + o.scriptName + ')')}}</td>
          <td class="filter-property-scriptname">
            <select
              ng-model="ng.config.objectTypeUsedForMemoDefinitionMapping[o.scriptName]"
              ng-options="t.scriptName as (t.name + ' (' + t.scriptName + ')')  for t in OTs | orderBy:'name'"
            >
              <option value=""></option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
