<span ng-if="lang=='en'">
  Allow you have option when displaying a tableComplexe(title, size of the table, size and order of column, disable all filter in one click.. )
</span>
<span ng-if="lang=='it'">
  Consenti di avere un'opzione durante la visualizzazione di un tableComplexe (titolo, dimensioni della tabella, dimensioni e ordine della colonna,
  disabilita tutti i filtri con un clic ..)
</span>
<span ng-if="lang=='fr'">
  Permettez-vous d'avoir l'option lors de l'affichage d'une table Complexe (titre, taille du tableau, taille et ordre de colonne, désactivez tous les
  filtres en un seul clic ..)
</span>
