<div class="label"><span ng-if="formInput.mandatory">*</span>{{getPropertyName(formInput.scriptname)}} :&nbsp;</div>

<input
  class="value"
  ng-readonly="formInput.readOnly"
  ng-required="formInput.mandatory"
  class="largeCell"
  ng-class="{readonly : formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  ng-if="getPropertyDataType(ng.objectType, formInput.scriptname)==='text'"
/>
<input
  class="value"
  ng-readonly="formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  type="checkbox"
  ng-if=" getPropertyDataType(ng.objectType, formInput.scriptname)==='checkbox'"
/>
<textarea
  class="value"
  ng-readonly="formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  ng-if=" getPropertyDataType(ng.objectType, formInput.scriptname)==='memo'"
></textarea>

<input
  ng-readonly="formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : formInput.readOnly}"
  class="value"
  type="date"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  format-date
  ng-if="getPropertyDataType(ng.objectType, formInput.scriptname)==='date'"
/>
<input
  ng-readonly="formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  type="number"
  class="value"
  ng-if="getPropertyDataType(ng.objectType, formInput.scriptname)==='number'"
/>

<select
  ng-disabled="formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  class="value selectDropDownList"
  id="{{'lookupFilter_' + $index}}"
  ng-if=" getPropertyDataType(ng.objectType, formInput.scriptname)==='lookup'"
>
  <option value=""></option>
  <option
    value="{{lookup.id.toString()}}"
    ng-selected="lookup.id.toString() == ng.changeset.properties[formInput.scriptname].toString() "
    ng-if="!formInput.inactiveLookups || formInput.inactiveLookups[lookup.id] !== true"
    ng-repeat="lookup in ng.objectType.properties[formInput.scriptname].lookups"
  >
    {{cwApi.updateUndefinedForLookupIfRequired(lookup.name) }}
  </option>
</select>
