<div class="label"><span ng-if="formInput.mandatory">*</span>{{formInput.label}} :&nbsp;</div>

<input
  class="value"
  ng-readonly="!ng.canEdit || formInput.readOnly"
  ng-required="formInput.mandatory"
  class="largeCell"
  ng-class="{readonly : !ng.canEdit || formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  ng-change="refreshProperties()"
  ng-model-options="{ debounce: 300 }"
  ng-if="getPropertyDataType(ng.objectType, formInput.scriptname)==='text'"
/>
<input
  class="value"
  ng-readonly="!ng.canEdit || formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : !ng.canEdit || formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  ng-change="refreshProperties()"
  ng-model-options="{ debounce: 300 }"
  type="checkbox"
  ng-if=" getPropertyDataType(ng.objectType, formInput.scriptname)==='checkbox'"
/>
<textarea
  class="value"
  ng-readonly="!ng.canEdit || formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : !ng.canEdit || formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  ng-change="refreshProperties()"
  ng-model-options="{ debounce: 300 }"
  ng-if=" getPropertyDataType(ng.objectType, formInput.scriptname)==='memo'"
></textarea>

<input
  ng-readonly="!ng.canEdit || formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : !ng.canEdit || formInput.readOnly}"
  class="value"
  type="date"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  ng-change="refreshProperties()"
  ng-model-options="{ debounce: 300 }"
  format-date
  ng-if="getPropertyDataType(ng.objectType, formInput.scriptname)==='date'"
/>
<input
  ng-readonly="!ng.canEdit || formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : !ng.canEdit || formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  ng-change="refreshProperties()"
  ng-model-options="{ debounce: 300 }"
  type="number"
  class="value"
  ng-if="getPropertyDataType(ng.objectType, formInput.scriptname)==='number'"
/>

<select
  ng-disabled="!ng.canEdit || formInput.readOnly"
  ng-required="formInput.mandatory"
  ng-class="{readonly : !ng.canEdit || formInput.readOnly}"
  ng-model="ng.changeset.properties[formInput.scriptname]"
  class="value selectDropDownList"
  id="{{'lookupFilter_' + $index}}"
  ng-if=" getPropertyDataType(ng.objectType, formInput.scriptname)==='lookup'"
  ng-init="initLookup(formInput)"
  ng-change="refreshProperties()"
  ng-model-options="{ debounce: 300 }"
>
  <option ng-if="!formInput.mandatory" value="0">Undefined</option>
  <option
    value="{{lookup.id.toString()}}"
    ng-selected="lookup.id.toString() == ng.changeset.properties[formInput.scriptname].toString() "
    ng-if="!formInput.inactiveLookups || formInput.inactiveLookups[lookup.id] !== true"
    ng-repeat="lookup in ng.objectType.properties[formInput.scriptname].lookups"
  >
    {{cwApi.updateUndefinedForLookupIfRequired(lookup.name) }}
  </option>
</select>
