<div ng-controller="workflow">
  <div ng-include src="'../../common/html/cwWorkflow/header.ng.html'"></div>

  <form ng-if="ng.canEdit" name="workFlowItem">
    <div
      ng-include
      ng-if="checkFilter(formInput)"
      src="'../../common/html/cwWorkflow/formInput.ng.html'"
      ng-repeat="formInput in ng.currentStep.formInput"
    ></div>
    <div ng-if="ng.configuration.docScriptname" class="documentAttach" ng-include src="'../../common/html/cwWorkflow/document.ng.html'"></div>
    <div
      class="input stepUser bootstrap-iso"
      ng-include
      src="'../../common/html/cwWorkflow/stepInput.ng.html'"
      ng-repeat="stepConfiguration in ng.currentStep.stepsSettings"
    ></div>
    <div class="formValid">
      <input
        class="buttonLarge"
        ng-repeat="step in ng.currentStep.nextStep"
        ng-disabled="workFlowItem.$invalid"
        type="submit"
        ng-click="manageStepClick(step,ng.currentStep)"
        value="{{step.label}}"
      />
    </div>
  </form>
  <div ng-if="!ng.canEdit">{{$root.i18n('cannotEditThisWorkflow')}}</div>
</div>
