<div ng-controller="workflow">
  <div ng-include src="'../../common/html/cwWorkflow/header.ng.html'"></div>
  <div ng-if="!ng.canEdit && !ng.canRead && ng.currentStep.nextStep && ng.currentStep.nextStep.length > 0">
    {{$root.i18n('cannotEditOrReadThisWorkflow')}}
  </div>
  <div ng-if="!ng.canEdit && ng.canRead && ng.currentStep.nextStep && ng.currentStep.nextStep.length > 0">
    {{$root.i18n('cannotEditThisWorkflow')}}
  </div>
  <div ng-if="cwApi.currentUser.PowerLevel === 1">{{$root.i18n('adminMode')}}</div>
  <form ng-if="ng.canEdit || ng.canRead || !ng.currentStep.nextStep || ng.currentStep.nextStep.length === 0" name="workFlowItem">
    <div
      ng-include
      ng-if="checkFilter(formInput)"
      src="'../../common/html/cwWorkflow/formInput.ng.html'"
      ng-repeat="formInput in ng.currentStep.formInput"
    ></div>
    <div ng-if="ng.configuration.docScriptname" class="documentAttach" ng-include src="'../../common/html/cwWorkflow/document.ng.html'"></div>
    <div
      class="input stepUser bootstrap-iso"
      ng-include
      ng-if="checkFilter(stepConfiguration)"
      src="'../../common/html/cwWorkflow/stepInput.ng.html'"
      ng-repeat="stepConfiguration in ng.currentStep.stepsSettings"
    ></div>
    <div class="formValid">
      <input
        class="buttonLarge"
        ng-if="ng.canEdit && checkFilter(step)"
        ng-repeat="step in ng.currentStep.nextStep"
        ng-disabled="workFlowItem.$invalid && !step.ignoreMandatory"
        type="submit"
        ng-click="manageStepClick(step,ng.currentStep)"
        value="{{step.label}}"
      />
    </div>
  </form>
</div>
