/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.cwNiceList {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cwNiceList .nameContainerAndTags {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #03a0ce;
  margin-right: 10px;
}
.cwNiceList .nameContainerAndTags > div {
  line-height: 13px;
}
.cwNiceList .nameContainerAndTags .tags {
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
}
.cwNiceList .nameContainerAndTags .tags .tag {
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.cwNiceList .nameContainerAndTags .name {
  display: flex;
  align-items: center;
}
.cwNiceList .nameContainerAndTags .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3px;
}
.cwNiceList .nameContainerAndTags .icon img {
  height: 14px;
}
.cwNiceList .date {
  width: 150px;
}
.cwNiceList .action {
  width: 52px;
}
.cwNiceList .action .fa.fa-heart {
  color: #03a0ce;
}
.cwNiceList .action .fa.fa-heart-o {
  color: #03a0ce;
}
