@import "../../_mixins";
@import "../../_variables";

.cw-home-navigation {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.homePageFav_newImage {
  position: absolute;
  display: none;
  max-width: 30px;
  bottom: 2px;
  left: 2px;
}

#cw-home-navigation-angular {
  width: 100%;
}
.homePage_main {
  display: flex;
  width: 100%;

  ::-webkit-scrollbar {
    width: 0.3rem;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: @cwDiagramBreadCrumbBackgroundColor;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken(@cwDiagramBreadCrumbBackgroundColor, 10%);
  }

  .homePage_column {
    display: flex;
    flex-wrap: wrap;
    height: 0px;

    .homePage_display {
      margin: 0.75rem;
      border: solid 1px @cwColor1;
      box-sizing: border-box;
      flex: 1 0 auto;

      .cwPropertiesTableHeader span.homePage_display_title,
      .fa.expendIcon {
        font-size: 24px;
      }
      .extendableTitle {
        display: flex;
        align-items: center;
        .homePage_display_title {
          flex: 1;
        }
        .display_sortProperty {
          width: 250px;
        }
        .rightExpandButton {
          width: 65px;
          color: @cwColor2;
          float: right;
          display: flex;
          right: 0px;
          align-items: center;
          padding: 5px;
          span {
            margin-right: 3px;
          }
        }
      }

      .homePage_display_content {
        transition: max-height 0.42s ease-out;
        overflow: hidden;
      }

      .homePage_carrousel {
        .slide {
          display: flex;
          .slidePicture {
            flex-grow: 1;
            height: 220px;
          }
          .leftSlider {
            flex-grow: 1;
          }

          .slideText {
            flex-grow: 1;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .slideTitle {
              font-size: 20px;
              font-weight: bold;
            }
            .slideDescription {
              margin-top: 10px;
            }
          }

          .rightSlider {
            flex-grow: 1;
          }
        }
        .lowNavBar {
          display: flex;
          justify-content: flex-end;
          .emptyLow {
            flex-grow: 1;
          }
          .slideslider {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .selected {
              color: @cwColor2;
            }
            i {
              margin: 1px;
            }
          }
          .slideButton {
            width: 100px;
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
            a {
              margin: 2px;
              background-color: @cwColor1;
              color: #ffffff;
              border: 1px solid @cwColor1;
              padding: 8px;
              box-shadow: 1px 1px 1px #bdbdbd;
              border-radius: 5px;
            }
          }
        }
      }
      .homePage_evolveView {
        overflow: auto;
        height: inherit;
        & > .cw-list {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        .cw-jvector-map {
          height: 100%;
        }
        .tableForPopoutWrapper {
          overflow: unset;
        }
        li.cw-accordion-container {
          margin: 5px;
        }
        ul.cw-diagram-zone {
          width: 100%;
          height: 100%;
          li.cw-diagram-zone {
            margin: 0;
            border: 0px solid;
          }
          .cwDiagramCamera,
          .cwDiagramBreadcrumb {
            display: none;
          }
          #cw-dv-fullscreen {
            display: flex;
          }
        }
      }

      .homePage_links_in_bloc {
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        height: inherit;

        .linkBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0rem;
          padding-bottom: 0rem;

          .link {
            padding: 0.2rem;
            font-size: 100%;
            width: 100%;
            margin-top: 5px;
            border-top: 2px solid @cwDiagramBreadCrumbBackgroundColor;
            font-weight: bold;
            vertical-align: middle;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
          }

          img {
            width: 100%;
            height: 100%;
          }

          .backgroundBlur {
            position: absolute;
            overflow: hidden;
            z-index: -20;
            padding-top: 20px;
            width: inherit;
            img {
              width: inherit;
              height: 100%;
              filter: blur(20px) brightness(50%);
            }
          }
        }
        .linkBox:hover {
          background-color: rgba(22, 22, 22, 0.1);
        }
      }

      .homePage_last_modified_object {
        margin: 5px;
        background: transparent;
        height: inherit;
        overflow: auto;
        table.cwPropertiesTable td {
          width: inherit;
        }
        div.cwPropertiesTableHeader {
          display: flex;
          justify-content: space-between;
        }
        .see_more_link {
          text-decoration: underline;
          line-height: 33px;
        }
        .homePageDate {
          float: right;
        }

        .filterDate {
          border-width: 0px 1px 1px;
          border-style: solid;
          border-color: rgb(191, 191, 191);
          border-image: initial;
          padding: 5px;
          white-space: pre-wrap;
          word-break: break-word;
          overflow-wrap: break-word;
          overflow: hidden;
          border-radius: 6px;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .smallCell {
          width: 60px;
        }
      }

      .homePage_blocks {
        overflow: auto;
        height: inherit;
      }

      .homePage_description {
        width: 100%;
        height: 100%;
        overflow: auto;
        height: inherit;
      }
    }
  }
}

body .main-nav .main-level a.cw-menu-link.activeLink {
  color: @cwMenuLeftMainNavigationTextColorActive;
  background-color: @cwMenuLeftMainNavigationBackgroundColorActive;
}

.separatorMenu {
  height: 30px;
}

.separatorMenu::after {
  content: "";
  width: 70%;
  height: 2px;
  background: #e4e4e7;
  display: block;
  position: relative;
  top: -20px;
  margin-left: 15%;
}

.emptyZone {
  display: flex;
  img {
    width: 60%;
  }
  .emptyZoneText {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    > div {
      display: flex;
      flex-direction: column;

      .emptyZoneTitle {
        font-size: 1.5rem;
        color: @cwColor1;
        margin-bottom: 10px;
      }
      .emptyZoneDesciption {
        color: @cwColor1;
      }
      span {
        margin-top: 20px;
        .emptyLink {
          background-color: @cwColor1;
          color: #ffffff;
          border: 1px solid @cwColor1;
          padding: 8px;
          box-shadow: 1px 1px 1px #bdbdbd;
          border-radius: 5px;
        }
      }
    }
  }
}
