/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* GRID */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
.homePageFav_newImage {
  position: absolute;
  display: none;
  max-width: 30px;
  bottom: 2px;
  left: 2px;
}
.homePage_main {
  display: flex;
  width: 100%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.homePage_main ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.homePage_main ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.homePage_main ::-webkit-scrollbar-thumb {
  background: #03a0ce;
}
.homePage_main ::-webkit-scrollbar-thumb:hover {
  background: #02799c;
}
.homePage_main .homePage_column {
  display: flex;
  flex-wrap: wrap;
  height: 0px;
}
.homePage_main .homePage_column .homePage_display {
  margin: 5px;
}
.homePage_main .homePage_column .homePage_display .cwPropertiesTableHeader span.homePage_display_title,
.homePage_main .homePage_column .homePage_display .fa.expendIcon {
  font-size: 24px;
}
.homePage_main .homePage_column .homePage_display .rightExpandButton {
  color: #03a0ce;
  position: absolute;
  display: flex;
  right: 0px;
  align-items: center;
  padding: 5px;
}
.homePage_main .homePage_column .homePage_display .rightExpandButton span {
  margin-right: 3px;
}
.homePage_main .homePage_column .homePage_display .homePage_display_content {
  transition: max-height 0.42s ease-out;
  overflow: hidden;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView {
  overflow: auto;
  height: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView .cw-jvector-map {
  height: 100%;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView .tableForPopoutWrapper {
  overflow: unset;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView li.cw-accordion-container {
  margin: 5px;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone {
  width: 100%;
  height: 100%;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone li.cw-diagram-zone {
  margin: 0;
  border: 0px solid;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone .cwDiagramCamera,
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone .cwDiagramBreadcrumb {
  display: none;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone #cw-dv-fullscreen {
  display: flex;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc {
  margin: 5px;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox .link {
  font-size: 24px;
  width: 100%;
  margin-top: 5px;
  border-top: 2px solid #03a0ce;
  font-weight: bold;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox img {
  width: 100%;
  height: 100%;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox .backgroundBlur {
  position: absolute;
  overflow: hidden;
  z-index: -20;
  padding-top: 20px;
  width: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox .backgroundBlur img {
  width: inherit;
  height: 100%;
  filter: blur(20px) brightness(50%);
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox:hover {
  background-color: #03a0ce;
  color: #ffffff;
  border: 2px solid #03a0ce;
  box-sizing: border-box;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox:hover img {
  background-color: #ffffff;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object {
  margin: 5px;
  background: transparent;
  height: inherit;
  overflow: auto;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object table.cwPropertiesTable td {
  width: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object div.cwPropertiesTableHeader {
  display: flex;
  justify-content: space-between;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .see_more_link {
  text-decoration: underline;
  line-height: 33px;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .homePageDate {
  float: right;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .filterDate {
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #bfbfbf;
  border-image: initial;
  padding: 5px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .smallCell {
  width: 60px;
}
.homePage_main .homePage_column .homePage_display .homePage_blocks {
  overflow: auto;
  height: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_description {
  width: 100%;
  height: 100%;
  overflow: auto;
  height: inherit;
}
