/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.cw-home-navigation {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.homePageFav_newImage {
  position: absolute;
  display: none;
  max-width: 30px;
  bottom: 2px;
  left: 2px;
}
#cw-home-navigation-angular {
  width: 100%;
}
.homePage_main {
  display: flex;
  width: 100%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.homePage_main ::-webkit-scrollbar {
  width: 0.3rem;
  height: 10px;
}
.homePage_main ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.homePage_main ::-webkit-scrollbar-thumb {
  background: #03a0ce;
}
.homePage_main ::-webkit-scrollbar-thumb:hover {
  background: #02799c;
}
.homePage_main .homePage_column {
  display: flex;
  flex-wrap: wrap;
  height: 0px;
}
.homePage_main .homePage_column .homePage_display {
  margin: 0.75rem;
}
.homePage_main .homePage_column .homePage_display .cwPropertiesTableHeader span.homePage_display_title,
.homePage_main .homePage_column .homePage_display .fa.expendIcon {
  font-size: 24px;
}
.homePage_main .homePage_column .homePage_display .extendableTitle {
  display: flex;
  align-items: center;
}
.homePage_main .homePage_column .homePage_display .extendableTitle .homePage_display_title {
  flex: 1;
}
.homePage_main .homePage_column .homePage_display .extendableTitle .display_sortProperty {
  width: 250px;
}
.homePage_main .homePage_column .homePage_display .extendableTitle .rightExpandButton {
  width: 65px;
  color: #03a0ce;
  float: right;
  display: flex;
  right: 0px;
  align-items: center;
  padding: 5px;
}
.homePage_main .homePage_column .homePage_display .extendableTitle .rightExpandButton span {
  margin-right: 3px;
}
.homePage_main .homePage_column .homePage_display .homePage_display_content {
  transition: max-height 0.42s ease-out;
  overflow: hidden;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .slide {
  display: flex;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .slide .slidePicture {
  flex-grow: 1;
  height: 220px;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .slide .leftSlider {
  flex-grow: 1;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .slide .slideText {
  flex-grow: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .slide .slideText .slideTitle {
  font-size: 20px;
  font-weight: bold;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .slide .slideText .slideDescription {
  margin-top: 10px;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .slide .rightSlider {
  flex-grow: 1;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .lowNavBar {
  display: flex;
  justify-content: flex-end;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .lowNavBar .emptyLow {
  flex-grow: 1;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .lowNavBar .slideslider {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .lowNavBar .slideslider .selected {
  color: #03a0ce;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .lowNavBar .slideslider i {
  margin: 1px;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .lowNavBar .slideButton {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.homePage_main .homePage_column .homePage_display .homePage_carrousel .lowNavBar .slideButton a {
  margin: 2px;
  background-color: #03a0ce;
  color: #ffffff;
  border: 1px solid #03a0ce;
  padding: 8px;
  box-shadow: 1px 1px 1px #bdbdbd;
  border-radius: 5px;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView {
  overflow: auto;
  height: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView .cw-jvector-map {
  height: 100%;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView .tableForPopoutWrapper {
  overflow: unset;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView li.cw-accordion-container {
  margin: 5px;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone {
  width: 100%;
  height: 100%;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone li.cw-diagram-zone {
  margin: 0;
  border: 0px solid;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone .cwDiagramCamera,
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone .cwDiagramBreadcrumb {
  display: none;
}
.homePage_main .homePage_column .homePage_display .homePage_evolveView ul.cw-diagram-zone #cw-dv-fullscreen {
  display: flex;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc {
  margin: 5px;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox .link {
  padding: 0.2rem;
  font-size: 100%;
  width: 100%;
  margin-top: 5px;
  border-top: 2px solid #03a0ce;
  font-weight: bold;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox img {
  width: 100%;
  height: 100%;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox .backgroundBlur {
  position: absolute;
  overflow: hidden;
  z-index: -20;
  padding-top: 20px;
  width: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox .backgroundBlur img {
  width: inherit;
  height: 100%;
  filter: blur(20px) brightness(50%);
}
.homePage_main .homePage_column .homePage_display .homePage_links_in_bloc .linkBox:hover {
  background-color: rgba(22, 22, 22, 0.1);
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object {
  margin: 5px;
  background: transparent;
  height: inherit;
  overflow: auto;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object table.cwPropertiesTable td {
  width: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object div.cwPropertiesTableHeader {
  display: flex;
  justify-content: space-between;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .see_more_link {
  text-decoration: underline;
  line-height: 33px;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .homePageDate {
  float: right;
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .filterDate {
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #bfbfbf;
  border-image: initial;
  padding: 5px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.homePage_main .homePage_column .homePage_display .homePage_last_modified_object .smallCell {
  width: 60px;
}
.homePage_main .homePage_column .homePage_display .homePage_blocks {
  overflow: auto;
  height: inherit;
}
.homePage_main .homePage_column .homePage_display .homePage_description {
  width: 100%;
  height: 100%;
  overflow: auto;
  height: inherit;
}
body .main-nav .main-level a.cw-menu-link.activeLink {
  color: #03a0ce;
  background-color: rgba(147, 176, 193, 0.15);
}
.separatorMenu {
  height: 30px;
}
.separatorMenu::after {
  content: "";
  width: 70%;
  height: 2px;
  background: #e4e4e7;
  display: block;
  position: relative;
  top: -20px;
  margin-left: 15%;
}
.emptyZone {
  display: flex;
}
.emptyZone img {
  width: 60%;
}
.emptyZone .emptyZoneText {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}
.emptyZone .emptyZoneText > div {
  display: flex;
  flex-direction: column;
}
.emptyZone .emptyZoneText > div .emptyZoneTitle {
  font-size: 1.5rem;
  color: #03a0ce;
  margin-bottom: 10px;
}
.emptyZone .emptyZoneText > div .emptyZoneDesciption {
  color: #03a0ce;
}
.emptyZone .emptyZoneText > div span {
  margin-top: 20px;
}
.emptyZone .emptyZoneText > div span .emptyLink {
  background-color: #03a0ce;
  color: #ffffff;
  border: 1px solid #03a0ce;
  padding: 8px;
  box-shadow: 1px 1px 1px #bdbdbd;
  border-radius: 5px;
}
