<div class="cw-state-default cw-accordion-header">
  <span
    ng-click="ao.extended = !ao.extended"
    ng-class="ao.extended ? ' fa fa-minus' : ' fa fa-plus'"
    class="cw-accordion cw-accordion-icon-color"
  ></span>
  <span ng-bind-html="getCDSForAssociatedObjects(ng.backup,ao)"></span>
</div>
<div ng-if="ao.extended" class="cw-children cw-accordion-content" style="display: block">
  <table class="cw-grid">
    <thead class="compareTable-header"></thead>
    <tbody>
      <tr>
        <th class="assoPropertyGroup" colspan="2">Properties</th>
      </tr>
      <tr ng-if="pLabel !='Description'" ng-repeat="pLabel in keys(ao.Properties) | orderBy: pLabel">
        <th>{{pLabel}}</th>

        <td class="same">
          <span ng-bind-html="getAssociationPropertyValue(ao,pLabel,ao.Properties[pLabel])"> </span>
        </td>
      </tr>

      <tr>
        <th>Description</th>

        <td class="same">
          <span ng-bind-html="getAssociationPropertyValue(ao,'Description',ao.Properties['Description'])"> </span>
        </td>
      </tr>

      <tr
        ng-if="ao.Properties[pLabel] === undefined && pLabel !='Description'"
        ng-repeat="pLabel in keys(getAssociationOfCurrent(OT, vv, assoName, ao)) | orderBy: pLabel"
      >
        <th>{{pLabel}}</th>
        <td>
          <span ng-bind-html="getAssociationPropertyValue(ao,pLabel)"> </span>
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td>
          <span ng-bind-html="getAssociationPropertyValue(ao,'Description')"> </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
