<div>
  <div class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader">
    {{$root.i18n('homepage_last_modified_objects_delay')}}
    <input ng-if="vm.dateIsArray === false" class="filterDate smallCell" type="number" id="dateID" name="input" ng-model="vm.selectedDelay" />
    <select ng-if="vm.dateIsArray === true" class="filterDate smallCell" id="dateID" ng-model="vm.selectedDelay" ng-options="d as d for d in vm.dateOptions"></select>
    {{$root.i18n('homepage_last_modified_objects_delay2')}}
    <a class="see_more_link" ng-if="config.lastModifiedObjectIndexpage" href="{{config.lastModifiedObjectIndexpage_link}}">{{config.lastModifiedObjectIndexpage_text}}</a>
  </div>
  <table class="cwPropertiesTable">
    <tbody>
      <tr ng-repeat="o in objects | orderBy: 'date' : true | filter:filterDate">
        <th style="white-space: nowrap"><span class="cw-property-type-name-with-help" ng-bind-html="displayItemString(o.cds)"></span></th>
        <td>{{o.objectTypeLabel}}</td>
        <td>{{o.date | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
