<div class="homePage_main">
  <div ng-repeat="(icol, col) in config.columns | orderBy:'order'" ng-style="getStyleForColumn(col)" class="homePage_column">
    <div ng-repeat="(idisp, display) in col.displays | orderBy:'order'" ng-style="getStyleForDisplay(display)" class="homePage_display">
      <div class="homePage_evolveView" ng-if='display.type==="evolve_view"' ng-init="getHTMLView(display)" ng-bind-html="display.html"></div>
      <div class="homePage_description" ng-if='display.type==="object_description"' ng-init="getHTMLfromObject(display)" ng-bind-html="display.html"></div>
    </div>
  </div>
</div>
