<div class="homePage_main">
  <div ng-if="checkIfRole(col)" ng-repeat="(icol, col) in config.columns | orderBy:'order'" ng-style="getStyleForColumn(col)" class="homePage_column">
    <div
      ng-if="checkIfRole(display)"
      ng-repeat="(idisp, display) in col.displays | orderBy:'order'"
      ng-init="display.extended = !display.collapseByDefault"
      ng-style="getStyleForDisplay(display)"
      class="homePage_display {{display.label}}"
      ng-class="{nextGenCard: nextGenTheme, displayTransparent: display.transparent ,fixWidth:display.fixWidth}"
    >
      <div ng-if="display.extendable" class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader extendableTitle">
        <span ng-click="display.extended = !display.extended" ng-if="!display.rightExpandButton">
          <i ng-if="display.extended === false" class="fa fa-angle-right"></i>
          <i ng-if="display.extended === true" class="fa fa-angle-down"></i>
        </span>
        <span ng-click="display.extended = !display.extended" class="homePage_display_title"> {{display.label}} </span>
        <span ng-if="keys(display.sortProperties).length > 0" class="display_sortProperty">
          <span>{{$root.i18n('sortBy')}}</span>
          <select
            ng-model="display.selectedSortProperty"
            ng-change="selectNextSortProperty(display)"
            ng-options="p.scriptName as p.name for p in getSelectSortProperty(display) track by p.scriptName"
          ></select>
        </span>
        <span ng-click="display.extended = !display.extended" ng-if="display.rightExpandButton" class="rightExpandButton">
          <span ng-if="display.extended === true">{{$root.i18n('close')}}</span>
          <span ng-if="display.extended === false">{{$root.i18n('open')}}</span>
          <i ng-if="display.extended === false" class="fa fa-caret-square-o-left expendIcon"></i>
          <i ng-if="display.extended === true" class="fa fa-caret-square-o-down expendIcon"></i>
        </span>
      </div>
      <div
        ng-style="getStyleForDisplayContent(display)"
        class="homePage_display_content"
        ng-class="{'rightExpandButtonContent':display.rightExpandButtonStyle, 'nextGenCard': !nextGenTheme}"
      >
        <div class="homePage_evolveView" ng-if='display.type==="evolve_view"' ng-init="getHTMLView(display)" ng-bind-html="display.html"></div>
        <div
          class="homePage_evolveView"
          ng-if='display.type==="cw_user_view"'
          ng-init="getHTMLViewForCwUserView(display)"
          ng-bind-html="display.html"
        ></div>
        <div
          class="homePage_description"
          ng-if='display.type==="object_description"'
          ng-init="getHTMLfromObject(display)"
          ng-bind-html="display.html"
        ></div>
        <div id="homePage_favorite" ng-init="initFav()" class="homePage_blocks" ng-if='display.type==="favorite"'></div>
        <div id="homePage_quicklink" ng-init="initQuickLink()" class="homePage_blocks" ng-if='display.type==="quicklink"'></div>
        <div
          class="homePage_last_modified_object"
          ng-if='display.type==="last_modified_object"'
          ng-init="searchForObjects(display)"
          ng-include
          src="'../../common/html/homePage/lastModifiedObjects.ng.html'"
        ></div>
        <div
          ng-style="getLinkBoxContainerStyle(display)"
          class="homePage_links_in_bloc"
          ng-if="display.type==='links_in_bloc'"
          ng-include
          src="'../../common/html/homePage/linksInBox.ng.html'"
        ></div>
        <div class="homePage_carrousel" ng-if="display.type==='carrousel'" ng-include src="'../../common/html/homePage/carrousel.ng.html'"></div>
      </div>
    </div>
  </div>
</div>
