<div class="homePage_main">
  <div ng-repeat="(icol, col) in config.columns | orderBy:'order'" ng-style="getStyleForColumn(col)" class="homePage_column">
    <div
      ng-repeat="(idisp, display) in col.displays | orderBy:'order'"
      ng-init="display.extended = !display.collapseByDefault"
      ng-style="getStyleForDisplay(display)"
      class="homePage_display"
    >
      <div ng-if="display.extendable" ng-click="display.extended = !display.extended" class="cwPropertiesTableHeader CwPropertiesLayoutTableHeader">
        <span ng-class="{'rightExpandButton':display.rightExpandButton}">
          <span ng-if="display.rightExpandButton && display.extended === true">{{$root.i18n('open')}}</span>
          <span ng-if="display.rightExpandButton && display.extended === false">{{$root.i18n('close')}}</span>
          <i
            ng-if="display.extended === false"
            class="fa expendIcon"
            ng-class="{'fa-angle-right':!display.rightExpandButton, 'fa-caret-square-o-left': display.rightExpandButton}"
            aria-hidden="true"
          ></i>
          <i
            ng-if="display.extended === true"
            class="fa expendIcon"
            ng-class="{'fa-angle-down': !display.rightExpandButton, 'fa-caret-square-o-down': display.rightExpandButton}"
            aria-hidden="true"
          ></i>
        </span>
        <span class="homePage_display_title"> {{display.label}} </span>
      </div>
      <div
        ng-style="getStyleForDisplayContent(display)"
        class="homePage_display_content"
        ng-class="{'rightExpandButtonContent':display.rightExpandButtonStyle}"
      >
        <div class="homePage_evolveView" ng-if='display.type==="evolve_view"' ng-init="getHTMLView(display)" ng-bind-html="display.html"></div>
        <div
          class="homePage_description"
          ng-if='display.type==="object_description"'
          ng-init="getHTMLfromObject(display)"
          ng-bind-html="display.html"
        ></div>
        <div id="homePage_favorite" ng-init="initFav()" class="homePage_blocks" ng-if='display.type==="favorite"'></div>
        <div id="homePage_quicklink" ng-init="initQuickLink()" class="homePage_blocks" ng-if='display.type==="quicklink"'></div>
        <div
          class="homePage_last_modified_object"
          ng-if='display.type==="last_modified_object"'
          ng-init="searchForObjects(display)"
          ng-include
          src="'../../common/html/homePage/lastModifiedObjects.ng.html'"
        ></div>
        <div
          ng-style="getLinkBoxContainerStyle(display)"
          class="homePage_links_in_bloc"
          ng-if="display.type==='links_in_bloc'"
          ng-include
          src="'../../common/html/homePage/linksInBox.ng.html'"
        ></div>
      </div>
    </div>
  </div>
</div>
