/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* GRID */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
.cwWorkflow {
  display: flex;
  flex-wrap: wrap;
}
.cwWorkflow .selectDropDownList {
  padding: 5px;
  color: #5c5d61;
  font-size: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 400px;
}
.cwWorkflow .input.memoInput {
  align-items: flex-start;
}
.cwWorkflow .input {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.cwWorkflow .input .label {
  max-width: 400px;
  vertical-align: top;
  font-size: large;
  font-weight: 700;
  color: #03a0ce;
}
.cwWorkflow .input .value {
  font-size: large;
  width: 400px;
}
.cwWorkflow .input textarea.value,
.cwWorkflow .input input.value {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  height: 30px;
}
.cwWorkflow .input textarea.value {
  height: 65px;
}
.cwWorkflow .documentAttach {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 0.6em;
}
.cwWorkflow .documentAttach .label {
  max-width: 400px;
  vertical-align: top;
  font-size: large;
  font-weight: 700;
  color: #03a0ce;
}
.cwWorkflow .documentAttach .fa.fa-plus {
  color: #03a0ce;
}
.cwWorkflow .documentAttach table {
  max-width: 500px;
}
.cwWorkflow .message {
  margin-top: 2px;
  margin-left: 30px;
}
.cwWorkflow .buttonLarge {
  max-width: 200px;
  margin: 2px;
  background-color: #03a0ce;
  color: #ffffff;
  border: 1px solid #03a0ce;
  padding: 8px;
  box-shadow: 1px 1px 1px #bdbdbd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
}
.cwWorkflow .formValid {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #03a0ce;
  display: flex;
}
.cwWorkflow .formValid input:disabled {
  background-color: gray;
  border: 1px solid gray;
  cursor: not-allowed;
}
.cwWorkflow .searchContainer {
  display: flex;
  align-items: center;
}
.cwWorkflow .associationContainerResult {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cwWorkflow .associationContainerResult > div {
  width: 400px;
}
.cwWorkflow .associationContainerResult > div .fa {
  color: red;
  margin: 2px;
  cursor: pointer;
}
.cwWorkflow .searchList {
  width: 400px;
  height: 39px;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
}
.cwWorkflow .searchList .searchText {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.cwWorkflow .searchList .searchText input {
  margin: 3px 0 2px 0;
  padding: 5px;
  border-radius: 2px;
  outline: none;
  height: 29px;
  box-sizing: border-box;
  font-size: 100%;
  width: 380px;
  border: 0px;
  background-color: white;
}
.cwWorkflow .searchList .workFlowListObjectTypeResult,
.cwWorkflow .searchList .workFlowListObjectTypeMessage {
  position: absolute;
  width: 400px;
  height: 39px;
  z-index: 1;
}
.cwWorkflow .searchList .workFlowListObjectTypeResult .workFlowListObjectTypeResultSubList,
.cwWorkflow .searchList .workFlowListObjectTypeMessage .workFlowListObjectTypeResultSubList {
  margin-top: 39px;
  background-color: white;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  border-left: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 0px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  height: 0px;
  z-index: 1;
}
.cwWorkflow .searchList .workFlowListObjectTypeResult .workFlowListObjectTypeResultSubList > div:hover,
.cwWorkflow .searchList .workFlowListObjectTypeMessage .workFlowListObjectTypeResultSubList > div:hover {
  background-color: #03a0ce;
  color: #ffffff;
}
.cwWorkflow .searchList .workFlowListObjectTypeResult .workFlowListObjectTypeResultSubList .selected,
.cwWorkflow .searchList .workFlowListObjectTypeMessage .workFlowListObjectTypeResultSubList .selected {
  background-color: #03a0ce;
  color: #ffffff;
}
.cwWorkflow .searchList:hover .searchText,
.cwWorkflow .searchList:focus .searchText,
.cwWorkflow .searchList:active .searchText,
.cwWorkflow .searchList:focus-within .searchText {
  z-index: 99999;
}
.cwWorkflow .searchList:hover .workFlowListObjectTypeMessage,
.cwWorkflow .searchList:focus .workFlowListObjectTypeMessage,
.cwWorkflow .searchList:active .workFlowListObjectTypeMessage,
.cwWorkflow .searchList:focus-within .workFlowListObjectTypeMessage {
  position: absolute;
  z-index: 99990;
}
.cwWorkflow .searchList:hover .workFlowListObjectTypeMessage .workFlowListObjectTypeResultSubList,
.cwWorkflow .searchList:focus .workFlowListObjectTypeMessage .workFlowListObjectTypeResultSubList,
.cwWorkflow .searchList:active .workFlowListObjectTypeMessage .workFlowListObjectTypeResultSubList,
.cwWorkflow .searchList:focus-within .workFlowListObjectTypeMessage .workFlowListObjectTypeResultSubList {
  z-index: 99999;
  height: 59px;
}
.cwWorkflow .searchList:hover .workFlowListObjectTypeResult,
.cwWorkflow .searchList:focus .workFlowListObjectTypeResult,
.cwWorkflow .searchList:active .workFlowListObjectTypeResult,
.cwWorkflow .searchList:focus-within .workFlowListObjectTypeResult {
  position: absolute;
  z-index: 99990;
  max-height: 200px;
}
.cwWorkflow .searchList:hover .workFlowListObjectTypeResult .workFlowListObjectTypeResultSubList,
.cwWorkflow .searchList:focus .workFlowListObjectTypeResult .workFlowListObjectTypeResultSubList,
.cwWorkflow .searchList:active .workFlowListObjectTypeResult .workFlowListObjectTypeResultSubList,
.cwWorkflow .searchList:focus-within .workFlowListObjectTypeResult .workFlowListObjectTypeResultSubList {
  z-index: 99999;
  height: 200px;
}
.progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.progress-indicator > li {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.progress-indicator {
  margin: 0 0 1em;
  padding: 0;
  font-size: 80%;
  text-transform: uppercase;
}
.progress-indicator > li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #bbb;
  display: flex;
  flex-direction: column;
}
i.fa.indicator {
  position: absolute;
  align-self: center;
  margin-top: -20px;
  font-size: 23px;
}
.progress-indicator > li:hover {
  color: #6f6f6f;
}
.progress-indicator > li.completed,
.progress-indicator > li.completed .bubble {
  color: #03a0ce;
}
.progress-indicator > li .bubble {
  border-radius: 1000px;
  width: 20px;
  height: 20px;
  background-color: #bbb;
  display: block;
  margin: 0 auto 0.5em;
  border-bottom: 1px solid #888;
}
.progress-indicator > li .bubble:after,
.progress-indicator > li .bubble:before {
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #bbb;
}
.progress-indicator > li.completed .bubble,
.progress-indicator > li.completed .bubble:after,
.progress-indicator > li.completed .bubble:before {
  background-color: #03a0ce;
  border-color: #03a0ce;
}
.progress-indicator > li .bubble:before {
  left: 0;
}
.progress-indicator > li .bubble:after {
  right: 0;
}
.progress-indicator > li:first-child .bubble:after,
.progress-indicator > li:first-child .bubble:before {
  width: 50%;
  margin-left: 50%;
}
.progress-indicator > li:last-child .bubble:after,
.progress-indicator > li:last-child .bubble:before {
  width: 50%;
  margin-right: 50%;
}
.progress-indicator > li.active,
.progress-indicator > li.active .bubble {
  color: #03a0ce;
}
.progress-indicator > li.active .bubble,
.progress-indicator > li.active .bubble:after,
.progress-indicator > li.active .bubble:before {
  background-color: #03a0ce;
  border-color: #03a0ce;
}
@media handheld, screen and (max-width: 400px) {
  .progress-indicator {
    font-size: 60%;
  }
}
