@import "../../_mixins";
@import "../../_variables";

span.cdsEnhancedDiagramPopOutIcon:hover{
 cursor: pointer;
}


li.ot-cw_user {

  width: 100%; 
  text-align: left;

}



div.page-title > div {
  vertical-align: top;
}