.scaleImg {
  height: 1rem;
  margin-right: 0.3rem;
}
.spanLookup {
  display: flex;
  align-items: center;
}
.spanLookup i {
  margin-right: 0.3rem;
}
.cw-item .spanLookup {
  display: initial;
}
.k-grid-content .spanLookup {
  align-items: center;
}
