@import "../../_mixins";
@import "../../_variables";

.k-grid .k-grid-header .k-header .k-link {
  height: auto;
}

.k-grid .k-grid-header .k-header {
  white-space: normal;
}
a.k-button.k-button-icontext.k-grid-popoutitem {
  width: 30px;
  min-width: 30px;
  color: @cwGridButtonsColor;
}
