/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* GRID */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
.k-grid .k-grid-header .k-header .k-link {
  height: auto;
}
.k-grid .k-grid-header .k-header {
  white-space: normal;
}
a.k-button.k-button-icontext.k-grid-popoutitem {
  width: 30px;
  min-width: 30px;
  color: #03a0ce;
}
.k-button.k-button-icontext i.fa,
.k-button.k-button-icontext .k-icon.k-i-plus {
  color: #03a0ce;
}
.k-grid-header th.k-header {
  vertical-align: top;
}
.k-grid.k-widget {
  overflow: hidden;
}
.cw-zone .cw_grid_wrap {
  margin-bottom: 0px !important;
}
