/* CUSTOM VARIABLES */
/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
/* DIAGRAM OVERLAY */
.CoffeeMaker {
  width: 100%;
}
.CoffeeMaker .fullWidth {
  width: 100% !important;
}
.CoffeeMaker .CoffeeMakerTab {
  margin: 5px;
  transition: box-shadow 0.3s;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 1rem;
  box-shadow: inset 0 -2px #000000;
  cursor: pointer;
}
.CoffeeMaker .CoffeeMakerTab.selected {
  box-shadow: inset 0 -2px #03a0ce;
}
.CoffeeMaker .CoffeeMakerTabs {
  display: flex;
  flex-wrap: wrap;
}
.CoffeeMaker .CoffeeMakerTabs .CoffeeMakerTab:hover {
  box-shadow: inset 0 -2px #03a0ce;
}
.CoffeeMaker .tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.CoffeeMaker .tabs .tab-link {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.CoffeeMaker .tabs .tab-link:hover {
  background-color: #d8d8d8;
}
.CoffeeMaker .tabs .tab-link.active {
  background-color: #ccc;
}
.CoffeeMaker .tabs .add-tab-link {
  float: right;
  padding: 6px;
}
.CoffeeMaker .tabContent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.CoffeeMaker .tabContent .remove-operation {
  float: right;
}
.CoffeeMaker div.cwPropertiesTableHeader {
  font-size: 24px;
}
.CoffeeMaker div.row {
  display: block;
}
.CoffeeMaker div.rowFlex {
  display: flex;
}
.CoffeeMaker div.rowFlex div.row-cell {
  align-self: center;
}
.CoffeeMaker div.row,
.CoffeeMaker div.rowFlex {
  margin: 5px 0px;
}
.CoffeeMaker div.row div.row-cell,
.CoffeeMaker div.rowFlex div.row-cell {
  display: inline-block;
}
.CoffeeMaker div.row div.row-cell-label,
.CoffeeMaker div.rowFlex div.row-cell-label {
  max-width: 400px;
  vertical-align: top;
  font-size: large;
  font-weight: 700;
  color: #03a0ce;
}
.CoffeeMaker div.row div.row-cell-value-textarea,
.CoffeeMaker div.rowFlex div.row-cell-value-textarea {
  width: 80%;
}
.CoffeeMaker div.row .tableTextInput input,
.CoffeeMaker div.rowFlex .tableTextInput input {
  width: 100%;
}
.CoffeeMaker div.row .tableTextInput input,
.CoffeeMaker div.rowFlex .tableTextInput input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  height: 34px;
}
.CoffeeMaker div.row .noWhiteSpace,
.CoffeeMaker div.rowFlex .noWhiteSpace {
  white-space: inherit;
}
.CoffeeMaker div.row div.row-cell-value select,
.CoffeeMaker div.rowFlex div.row-cell-value select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  height: 30px;
  background-color: white;
}
.CoffeeMaker div.row div.row-cell-value input,
.CoffeeMaker div.rowFlex div.row-cell-value input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  height: 30px;
  background-color: white;
}
.CoffeeMaker div.row div.row-cell-value textarea,
.CoffeeMaker div.rowFlex div.row-cell-value textarea {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0px 5px;
  min-height: 30px;
  resize: vertical;
  background-color: white;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width {
  width: 85%;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .fullWidthFilterTable,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .fullWidthFilterTable {
  width: 100%;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .fullWidthFilterTable input,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .fullWidthFilterTable input {
  width: 95%;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .fullWidthFilterTable input.smallCell,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .fullWidthFilterTable input.smallCell {
  width: 70px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width div.cell-content-wrapper,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width div.cell-content-wrapper {
  width: 100%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 5px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width div.properties-wrapper,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width div.properties-wrapper {
  overflow: auto;
  max-height: 350px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width div.properties-wrapper input,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width div.properties-wrapper input {
  vertical-align: middle;
  margin-right: 5px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .filter-wrapper .filter-content,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-content {
  width: 180px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .filter-wrapper .filter-value,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-value {
  width: 180px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .filter-wrapper .filter-operator,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-operator {
  width: 100px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .filter-wrapper .filter-cell,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-cell {
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .filter-wrapper .filter-cell input[type="checkbox"],
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .filter-wrapper .filter-cell input[type="checkbox"] {
  margin: 0px;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .header-cell,
.CoffeeMaker div.rowFlex div.row-cell-value.row-cell-max-width .header-cell {
  text-align: center;
  font-weight: bold;
}
.CoffeeMaker div.row .add-filter-button a.btn-add-filter,
.CoffeeMaker div.rowFlex .add-filter-button a.btn-add-filter {
  height: auto;
  width: auto;
  margin: 5px;
  color: #ffffff;
}
.CoffeeMaker .largeCell {
  width: 500px;
}
.CoffeeMaker .largeMediumCell {
  width: 250px;
}
.CoffeeMaker .mediumCell {
  width: 150px;
}
.CoffeeMaker .smallCell {
  white-space: inherit;
  width: 70px;
}
.CoffeeMaker .verySmallCell {
  white-space: inherit;
  width: 15px;
}
.CoffeeMaker div.cwPropertiesTableContainer.nolimit {
  width: auto;
  max-width: fit-content;
  border-collapse: collapse;
}
.CoffeeMaker div.cwPropertiesTableContainer.nolimit a {
  height: auto;
  width: auto;
  margin: 5px;
}
.CoffeeMaker div.cwPropertiesTableContainer.nolimit td select {
  height: 30px;
}
.CoffeeMaker div.propertieslist {
  display: flex;
  flex-wrap: wrap;
}
.CoffeeMaker .choiceBox a {
  height: auto;
  width: auto;
  margin: 5px;
  background-color: #5c5d61;
  color: #ffffff;
  border-color: #546e7a;
}
.CoffeeMaker .choiceBox a:hover {
  background-color: #03a0ce;
  color: #ffffff;
  border-color: #546e7a;
}
.CoffeeMaker .choiceBox a.selected {
  background-color: #03a0ce;
  color: #ffffff;
  border-color: #546e7a;
}
.CoffeeMaker div.add-first-operation-button a.btn-add-first-operation {
  height: auto;
  width: auto;
  margin: 5px;
  color: #03a0ce;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.CoffeeMaker .tableCheckbox {
  width: 60px;
  text-align: center;
}
.CoffeeMaker .tableName {
  width: 150px;
  text-align: center;
}
.CoffeeMaker .cwPropertiesTable .cw-edit-property-value {
  white-space: initial;
}
.CoffeeMaker .highlightDiagramContainer {
  display: flex;
  flex-wrap: wrap;
}
.CoffeeMaker .highlightDiagramContainer > div {
  width: 850px;
  margin-right: 50px;
}
.CoffeeMaker .drillDownObjectTitle {
  font-size: 25px;
  color: #03a0ce;
}
.CoffeeMaker div.row div.row-cell-value.row-cell-max-width .filter-wrapper .drillDownSubtitle th {
  text-align: start;
}
.CoffeeMaker .workFlowNetwork {
  height: 500px;
}
.CoffeeMaker table.coffeeMakerTable {
  border: none;
  background-color: white;
  box-shadow: 0 8px 32px rgba(47, 60, 74, 0.01), 0 8px 16px rgba(47, 60, 74, 0.02);
  border: solid 1px #e4e4e7;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.CoffeeMaker table.coffeeMakerTable tr:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.CoffeeMaker table.coffeeMakerTable tr:first-child,
.CoffeeMaker table.coffeeMakerTable thead {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.CoffeeMaker table.coffeeMakerTable tr th {
  text-align: center;
  border: none;
  color: #03a0ce;
  background: white;
  border-bottom: 1px solid #03a0ce;
  padding: 5px;
}
.CoffeeMaker table.coffeeMakerTable tr td {
  padding: 5px;
  border-bottom: 1px solid #03a0ce;
  border-left: none;
  border-color: rgba(3, 160, 206, 0.4);
}
.jvectorBackgroundRegionDefault {
  color: #dbd9d6;
}
.jvectorBackgroundRegionDefaultStroke {
  color: #5c5d61;
}
.jvectorBackgroundRegion {
  color: #03a0ce;
}
.jvectorBackgroundMarker {
  color: #03a0ce;
}
